In [1]:
import pandas as pd

## Data Load

## 1. 절도폭력 + 인구종합

In [2]:
q1_total = pd.read_csv('q1_total.csv')
del q1_total['Unnamed: 0']
q1_total.head()

,jur_stn,date,pub_cnt,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,...,sx_rate_65세이상,foreign_num,light_cnt,cctv_cnt,bell_cnt,rob_safety_q1,mur_safety_q2,ta_safety_q3,raw_odder_q4,overall_q5
0,서울중부경찰서,2018(상반기),204.0,1540.0,177.0,11.0,120.0,635.0,92.0,2.0,...,75.2,11988.0,4933.0,1563.0,406.0,79.3,80.7,67.3,66.4,74.0
1,서울중부경찰서,2018(하반기),204.0,1638.0,984.0,48.0,606.0,664.0,431.0,6.0,...,75.2,11988.0,4933.0,1563.0,406.0,79.0,80.5,71.8,70.0,76.0
2,서울종로경찰서,2018(상반기),150.0,600.0,62.0,6.0,52.0,210.0,26.0,0.0,...,77.1,12056.0,5259.0,1500.0,450.0,78.0,81.2,69.6,60.3,73.3
3,서울종로경찰서,2018(하반기),150.0,827.0,519.0,28.0,280.0,264.0,172.0,5.0,...,77.1,12056.0,5259.0,1500.0,450.0,86.7,87.1,76.1,68.4,79.3
4,서울남대문경찰서,2018(상반기),88.0,1095.0,148.0,5.0,66.0,410.0,57.0,0.0,...,75.2,11988.0,3000.0,1500.0,203.0,77.8,80.6,69.2,67.9,73.6

In [3]:
q1_total.columns

Index(['jur_stn', 'date', 'pub_cnt', 'vio_total_cnt', 'report_sx_남성_x',
       'report_sx_불상_x', 'report_sx_여성_x', 'rob_total_cnt', 'report_sx_남성_y',
       'report_sx_불상_y', 'report_sx_여성_y', 'report_total_cnt', 'report_sx_남성',
       'report_sx_불상', 'report_sx_여성', 'poor_num', 'poor_ratio',
       'Unnamed: 0.1', 'age_합계', 'age_15세미만', 'age_15~64세', 'age_65세이상',
       'age_평균연령', 'sx_rate_합계', 'sx_rate_15세미만', 'sx_rate_15~64세',
       'sx_rate_65세이상', 'foreign_num', 'light_cnt', 'cctv_cnt', 'bell_cnt',
       'rob_safety_q1', 'mur_safety_q2', 'ta_safety_q3', 'raw_odder_q4',
       'overall_q5'],
      dtype='object')

In [4]:
# 전반적안전도에서 쓸 데이터 남김
q5_info = q1_total[['jur_stn', 'date', 'pub_cnt', 'vio_total_cnt', 'report_sx_남성_x',
       'report_sx_불상_x', 'report_sx_여성_x', 'rob_total_cnt', 'report_sx_남성_y',
       'report_sx_불상_y', 'report_sx_여성_y', 'report_total_cnt', 'report_sx_남성',
       'report_sx_불상', 'report_sx_여성', 'poor_num', 'age_합계', 'age_15세미만',
       'age_15~64세', 'age_65세이상', 'age_평균연령', 'sx_rate_합계', 'sx_rate_15세미만',
       'sx_rate_15~64세', 'sx_rate_65세이상', 'foreign_num', 'cctv_cnt', 'bell_cnt',
       'light_cnt', 'overall_q5']]
q5_info.head()

,jur_stn,date,pub_cnt,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,...,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt,overall_q5
0,서울중부경찰서,2018(상반기),204.0,1540.0,177.0,11.0,120.0,635.0,92.0,2.0,...,43.0,94.2,101.8,97.7,75.2,11988.0,1563.0,406.0,4933.0,74.0
1,서울중부경찰서,2018(하반기),204.0,1638.0,984.0,48.0,606.0,664.0,431.0,6.0,...,43.0,94.2,101.8,97.7,75.2,11988.0,1563.0,406.0,4933.0,76.0
2,서울종로경찰서,2018(상반기),150.0,600.0,62.0,6.0,52.0,210.0,26.0,0.0,...,42.3,95.5,104.7,98.6,77.1,12056.0,1500.0,450.0,5259.0,73.3
3,서울종로경찰서,2018(하반기),150.0,827.0,519.0,28.0,280.0,264.0,172.0,5.0,...,42.3,95.5,104.7,98.6,77.1,12056.0,1500.0,450.0,5259.0,79.3
4,서울남대문경찰서,2018(상반기),88.0,1095.0,148.0,5.0,66.0,410.0,57.0,0.0,...,43.0,94.2,101.8,97.7,75.2,11988.0,1500.0,203.0,3000.0,73.6

In [5]:
q2_df = pd.read_csv('q2_df.csv')
del q2_df['Unnamed: 0']
q2_df.head()

,jur_stn,date,robb_total_cnt,mur_total_cnt,pub_cnt,report_total_cnt,report_sx_남성,report_sx_불상,report_sx_여성,poor_num,...,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt,mur_safety_q2
0,마산동부경찰서,2018(상반기),1.0,1.0,330.0,17755.0,10485.0,1785.0,5485.0,27675.62,...,42.800000,100.800000,108.500000,105.000000,77.5,2770.000000,1218.0,100.0,5647.0,79.0
1,마산동부경찰서,2018(하반기),1.0,2.0,330.0,20677.0,12327.0,2011.0,6339.0,27675.62,...,42.800000,100.800000,108.500000,105.000000,77.5,2770.000000,1218.0,100.0,5647.0,75.6
2,마산동부경찰서,2019(상반기),1.0,1.0,331.0,23939.0,14081.0,2610.0,7248.0,28866.90,...,43.700000,100.300000,109.400000,104.400000,78.6,2871.000000,1218.0,100.0,5647.0,78.2
3,마산동부경찰서,2019(하반기),5.0,3.0,331.0,26029.0,15184.0,3190.0,7655.0,28866.90,...,43.700000,100.300000,109.400000,104.400000,78.6,2871.000000,1218.0,100.0,5647.0,76.5
4,마산동부경찰서,2020(상반기),1.0,1.0,331.0,23535.0,13307.0,3359.0,6869.0,35579.58,...,42.866667,100.666667,109.066667,104.733333,77.7,2803.666667,1218.0,100.0,5647.0,NaN

# -----------------------------------------------------------

## 2. 강도살인

In [6]:
q2_df.columns

Index(['jur_stn', 'date', 'robb_total_cnt', 'mur_total_cnt', 'pub_cnt',
       'report_total_cnt', 'report_sx_남성', 'report_sx_불상', 'report_sx_여성',
       'poor_num', 'poor_ratio', 'age_합계', 'age_15세미만', 'age_15~64세',
       'age_65세이상', 'age_평균연령', 'sx_rate_합계', 'sx_rate_15세미만',
       'sx_rate_15~64세', 'sx_rate_65세이상', 'foreign_num', 'cctv_cnt',
       'bell_cnt', 'light_cnt', 'mur_safety_q2'],
      dtype='object')

In [7]:
q2_df.drop(['pub_cnt', 'report_total_cnt', 'report_sx_남성',
       'report_sx_불상', 'report_sx_여성', 'poor_num', 'foreign_num', 'cctv_cnt', 'bell_cnt',
       'light_cnt', 'mur_safety_q2', 'robb_total_cnt', 'mur_total_cnt'],axis=1,inplace=True) # 겹치는 column 제외

In [8]:
crime_df = pd.merge(q5_info, q2_df) # q1, q2 
crime_df.head()

,jur_stn,date,pub_cnt,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,...,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt,overall_q5,poor_ratio
0,서울중부경찰서,2018(상반기),204.0,1540.0,177.0,11.0,120.0,635.0,92.0,2.0,...,94.2,101.8,97.7,75.2,11988.0,1563.0,406.0,4933.0,74.0,17.794710
1,서울중부경찰서,2018(하반기),204.0,1638.0,984.0,48.0,606.0,664.0,431.0,6.0,...,94.2,101.8,97.7,75.2,11988.0,1563.0,406.0,4933.0,76.0,18.456513
2,서울종로경찰서,2018(상반기),150.0,600.0,62.0,6.0,52.0,210.0,26.0,0.0,...,95.5,104.7,98.6,77.1,12056.0,1500.0,450.0,5259.0,73.3,13.749074
3,서울종로경찰서,2018(하반기),150.0,827.0,519.0,28.0,280.0,264.0,172.0,5.0,...,95.5,104.7,98.6,77.1,12056.0,1500.0,450.0,5259.0,79.3,13.997860
4,서울남대문경찰서,2018(상반기),88.0,1095.0,148.0,5.0,66.0,410.0,57.0,0.0,...,94.2,101.8,97.7,75.2,11988.0,1500.0,203.0,3000.0,73.6,17.794710

In [9]:
crime_df['date'].value_counts()

2020(하반기)    41
2018(상반기)    41
2020(상반기)    41
2018(하반기)    41
2019(하반기)    41
2019(상반기)    41
Name: date, dtype: int64

# -----------------------------------------------------------

## 3. 교통

In [10]:
q3_df  = pd.read_csv('q3_df.csv')
del q3_df['Unnamed: 0']
q3_df.head()

,jur_stn,date,total_cnt,ofn_sx_기타불명,ofn_sx_남,ofn_sx_여,ofn_sx_성비,ofn_age_10대 이하,ofn_age_20~30대,ofn_age_40~50대,...,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt,ta_safety_q3
0,마산동부경찰서,2018(상반기),203,3,157,43,365.1,0,29,59,...,42.800000,100.800000,108.500000,105.000000,77.5,2770.000000,1218.0,100.0,5647.0,67.5
1,마산동부경찰서,2018(하반기),186,1,152,33,460.6,0,23,52,...,42.800000,100.800000,108.500000,105.000000,77.5,2770.000000,1218.0,100.0,5647.0,67.9
2,마산동부경찰서,2019(상반기),213,3,169,41,412.2,0,25,46,...,43.700000,100.300000,109.400000,104.400000,78.6,2871.000000,1218.0,100.0,5647.0,66.4
3,마산동부경찰서,2019(하반기),243,2,184,57,322.8,0,27,67,...,43.700000,100.300000,109.400000,104.400000,78.6,2871.000000,1218.0,100.0,5647.0,69.4
4,마산동부경찰서,2020(상반기),206,0,168,38,442.1,0,26,52,...,42.866667,100.666667,109.066667,104.733333,77.7,2803.666667,1218.0,100.0,5647.0,NaN

In [11]:
q3_df.columns

Index(['jur_stn', 'date', 'total_cnt', 'ofn_sx_기타불명', 'ofn_sx_남', 'ofn_sx_여',
       'ofn_sx_성비', 'ofn_age_10대 이하', 'ofn_age_20~30대', 'ofn_age_40~50대',
       'ofn_age_60~70대', 'ofn_age_80대 이상', 'ofn_age_미분류', 'vic_sx_기타불명',
       'vic_sx_남', 'vic_sx_여', 'vic_sx_성비', 'vic_age_10대 이하', 'vic_age_20~30대',
       'vic_age_40~50대', 'vic_age_60~70대', 'vic_age_80대 이상', 'vic_age_미분류',
       'month_1m', 'month_2m', 'month_3m', 'month_4m', 'month_5m', 'month_6m',
       'acc_type_차대사람', 'acc_type_차대차', 'acc_type_차량단독', 'acc_case_공작물충돌',
       'acc_case_기타', 'acc_case_길가장자리구역통행중', 'acc_case_도로외이탈',
       'acc_case_보도통행중', 'acc_case_전도전복', 'acc_case_정면충돌',
       'acc_case_주/정차차량 충돌', 'acc_case_차도통행중', 'acc_case_추돌', 'acc_case_측면충돌',
       'acc_case_횡단중', 'acc_case_후진중충돌', 'pub_cnt', 'poor_num', 'age_합계',
       'age_15세미만', 'age_15~64세', 'age_65세이상', 'age_평균연령', 'sx_rate_합계',
       'sx_rate_15세미만', 'sx_rate_15~64세', 'sx_rate_65세이상', 'foreign_num',
       'cctv_cnt', 'bell_cnt', 'light_cnt', 'ta_safety_q3'],
      dtype='object')

In [12]:
q3_df = q3_df[['jur_stn', 'date', 'total_cnt', 'ofn_sx_기타불명', 'ofn_sx_남', 'ofn_sx_여',
       'ofn_sx_성비', 'ofn_age_10대 이하', 'ofn_age_20~30대', 'ofn_age_40~50대',
       'ofn_age_60~70대', 'ofn_age_80대 이상', 'ofn_age_미분류', 'vic_sx_기타불명',
       'vic_sx_남', 'vic_sx_여', 'vic_sx_성비', 'vic_age_10대 이하', 'vic_age_20~30대',
       'vic_age_40~50대', 'vic_age_60~70대', 'vic_age_80대 이상', 'vic_age_미분류',
       'month_1m', 'month_2m', 'month_3m', 'month_4m', 'month_5m', 'month_6m',
       'acc_type_차대사람', 'acc_type_차대차', 'acc_type_차량단독', 'acc_case_공작물충돌',
       'acc_case_기타', 'acc_case_길가장자리구역통행중', 'acc_case_도로외이탈',
       'acc_case_보도통행중', 'acc_case_전도전복', 'acc_case_정면충돌',
       'acc_case_주/정차차량 충돌', 'acc_case_차도통행중', 'acc_case_추돌', 'acc_case_측면충돌',
       'acc_case_횡단중', 'acc_case_후진중충돌']] # 겹치는 column 제외

# -----------------------------------------------------------

## 4. 법질서 준수

In [13]:
q4_df = pd.read_csv('q4_df.csv')
del q4_df['Unnamed: 0']
q4_df.head()

,jur_stn,date,신고 건수(전체),신고 성별(남자),신고 성별(여자),신고 성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),...,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt,raw_odder_q4,report_ratio
0,서울중부경찰서,2018(상반기),23968.0,14066.0,6106.0,3787.0,9.0,129.0,4815.0,13416.0,...,94.2,101.8,97.7,75.2,11988.0,1563.0,406.0,4933.0,66.4,0.18
1,서울중부경찰서,2018(하반기),26222.0,15718.0,6925.0,3571.0,8.0,148.0,5031.0,15480.0,...,94.2,101.8,97.7,75.2,11988.0,1563.0,406.0,4933.0,70.0,0.20
2,서울종로경찰서,2018(상반기),15558.0,8823.0,4342.0,2361.0,32.0,52.0,2807.0,8504.0,...,95.5,104.7,98.6,77.1,12056.0,1500.0,450.0,5259.0,60.3,0.10
3,서울종로경찰서,2018(하반기),16897.0,10013.0,4643.0,2213.0,28.0,94.0,2941.0,9949.0,...,95.5,104.7,98.6,77.1,12056.0,1500.0,450.0,5259.0,68.4,0.11
4,서울남대문경찰서,2018(상반기),16686.0,10045.0,4263.0,2373.0,5.0,81.0,3134.0,9367.0,...,94.2,101.8,97.7,75.2,11988.0,1500.0,203.0,3000.0,67.9,0.13

In [14]:
q4_df.columns

Index(['jur_stn', 'date', '신고 건수(전체)', '신고 성별(남자)', '신고 성별(여자)', '신고 성별(불상)',
       '신고 성별(기타)', '접수긴급유형(긴급)', '접수긴급유형(중요)', '접수긴급유형(일반)', '접수긴급유형(민원)',
       '접수긴급유형(기타)', '발생요일(일)', '발생요일(월)', '발생요일(화)', '발생요일(수)', '발생요일(목)',
       '발생요일(금)', '발생요일(토)', '새벽(01~05)', '아침(06~10)', '점심(11~14)',
       '오후(15~18)', '저녁(19~21)', '심야(22~00)', 'pub_cnt', 'poor_num', 'age_합계',
       'age_15세미만', 'age_15~64세', 'age_65세이상', 'age_평균연령', 'sx_rate_합계',
       'sx_rate_15세미만', 'sx_rate_15~64세', 'sx_rate_65세이상', 'foreign_num',
       'cctv_cnt', 'bell_cnt', 'light_cnt', 'raw_odder_q4', 'report_ratio'],
      dtype='object')

In [15]:
q4_df = q4_df[['jur_stn', 'date','접수긴급유형(긴급)', '접수긴급유형(중요)', '접수긴급유형(일반)', '접수긴급유형(민원)',
       '접수긴급유형(기타)', '발생요일(일)', '발생요일(월)', '발생요일(화)', '발생요일(수)', '발생요일(목)',
       '발생요일(금)', '발생요일(토)', '새벽(01~05)', '아침(06~10)', '점심(11~14)',
       '오후(15~18)', '저녁(19~21)', '심야(22~00)']] # 겹치는 column 제외

# -----------------------------------------------------------

## 목표 : Q5 X값 생성
- Q5 전반적안전도는 Q1~Q4를 feature 값으로 사용한다.

### 1 ~ 4 Merge

In [16]:
## Q 3, 4. merge
acc_law_df = pd.merge(q3_df, q4_df, on=['jur_stn','date'])
acc_law_df.head()

,jur_stn,date,total_cnt,ofn_sx_기타불명,ofn_sx_남,ofn_sx_여,ofn_sx_성비,ofn_age_10대 이하,ofn_age_20~30대,ofn_age_40~50대,...,발생요일(수),발생요일(목),발생요일(금),발생요일(토),새벽(01~05),아침(06~10),점심(11~14),오후(15~18),저녁(19~21),심야(22~00)
0,마산동부경찰서,2018(상반기),203,3,157,43,365.1,0,29,59,...,2645.0,2529.0,2797.0,3177.0,1302.0,1036.0,1460.0,1786.0,2201.0,2462.0
1,마산동부경찰서,2018(하반기),186,1,152,33,460.6,0,23,52,...,2770.0,2754.0,3061.0,3445.0,1457.0,1149.0,1522.0,1989.0,2403.0,2558.0
2,마산동부경찰서,2019(상반기),213,3,169,41,412.2,0,25,46,...,3580.0,3252.0,3526.0,3820.0,1454.0,1362.0,2003.0,2417.0,2768.0,2735.0
3,마산동부경찰서,2019(하반기),243,2,184,57,322.8,0,27,67,...,3765.0,3546.0,3750.0,4197.0,1719.0,1533.0,2247.0,2547.0,2868.0,2958.0
4,마산동부경찰서,2020(상반기),206,0,168,38,442.1,0,26,52,...,3232.0,3245.0,3648.0,3767.0,1429.0,1454.0,2217.0,2594.0,2375.0,2429.0

In [17]:
# 1/2 , 3/4 merge
q5_df = pd.merge(crime_df, acc_law_df, on=['jur_stn','date'])
q5_df.head()

,jur_stn,date,pub_cnt,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,...,발생요일(수),발생요일(목),발생요일(금),발생요일(토),새벽(01~05),아침(06~10),점심(11~14),오후(15~18),저녁(19~21),심야(22~00)
0,서울중부경찰서,2018(상반기),204.0,1540.0,177.0,11.0,120.0,635.0,92.0,2.0,...,3436.0,3410.0,3924.0,3866.0,1763.0,1294.0,2020.0,2341.0,2314.0,3013.0
1,서울중부경찰서,2018(하반기),204.0,1638.0,984.0,48.0,606.0,664.0,431.0,6.0,...,3733.0,3628.0,4030.0,4147.0,2034.0,1458.0,2190.0,2408.0,2510.0,3480.0
2,서울종로경찰서,2018(상반기),150.0,600.0,62.0,6.0,52.0,210.0,26.0,0.0,...,2132.0,2260.0,2462.0,2635.0,986.0,910.0,1506.0,1605.0,1458.0,1863.0
3,서울종로경찰서,2018(하반기),150.0,827.0,519.0,28.0,280.0,264.0,172.0,5.0,...,2528.0,2435.0,2597.0,2952.0,1182.0,928.0,1605.0,1635.0,1679.0,2142.0
4,서울남대문경찰서,2018(상반기),88.0,1095.0,148.0,5.0,66.0,410.0,57.0,0.0,...,2409.0,2499.0,2644.0,2628.0,907.0,1000.0,1724.0,1967.0,1777.0,1724.0

In [18]:
q5_df['date'].value_counts()

2020(하반기)    41
2018(상반기)    41
2020(상반기)    41
2018(하반기)    41
2019(하반기)    41
2019(상반기)    41
Name: date, dtype: int64

In [19]:
q5_df[q5_df['date'].str.contains('2020')].isnull().sum().sum()

82

In [20]:
q5_df.isnull().sum().sum() # 82개(2020년도만) 맞는지 check

82

In [21]:
q5_df.columns

Index(['jur_stn', 'date', 'pub_cnt', 'vio_total_cnt', 'report_sx_남성_x',
       'report_sx_불상_x', 'report_sx_여성_x', 'rob_total_cnt', 'report_sx_남성_y',
       'report_sx_불상_y', 'report_sx_여성_y', 'report_total_cnt', 'report_sx_남성',
       'report_sx_불상', 'report_sx_여성', 'poor_num', 'age_합계', 'age_15세미만',
       'age_15~64세', 'age_65세이상', 'age_평균연령', 'sx_rate_합계', 'sx_rate_15세미만',
       'sx_rate_15~64세', 'sx_rate_65세이상', 'foreign_num', 'cctv_cnt',
       'bell_cnt', 'light_cnt', 'overall_q5', 'poor_ratio', 'total_cnt',
       'ofn_sx_기타불명', 'ofn_sx_남', 'ofn_sx_여', 'ofn_sx_성비', 'ofn_age_10대 이하',
       'ofn_age_20~30대', 'ofn_age_40~50대', 'ofn_age_60~70대', 'ofn_age_80대 이상',
       'ofn_age_미분류', 'vic_sx_기타불명', 'vic_sx_남', 'vic_sx_여', 'vic_sx_성비',
       'vic_age_10대 이하', 'vic_age_20~30대', 'vic_age_40~50대', 'vic_age_60~70대',
       'vic_age_80대 이상', 'vic_age_미분류', 'month_1m', 'month_2m', 'month_3m',
       'month_4m', 'month_5m', 'month_6m', 'acc_type_차대사람', 'acc_type_차대차',
       'acc_type_차량단독', 'acc_case_공작물충돌', 'acc_case_기타', 'acc_case_길가장자리구역통행중',
       'acc_case_도로외이탈', 'acc_case_보도통행중', 'acc_case_전도전복', 'acc_case_정면충돌',
       'acc_case_주/정차차량 충돌', 'acc_case_차도통행중', 'acc_case_추돌', 'acc_case_측면충돌',
       'acc_case_횡단중', 'acc_case_후진중충돌', '접수긴급유형(긴급)', '접수긴급유형(중요)',
       '접수긴급유형(일반)', '접수긴급유형(민원)', '접수긴급유형(기타)', '발생요일(일)', '발생요일(월)',
       '발생요일(화)', '발생요일(수)', '발생요일(목)', '발생요일(금)', '발생요일(토)', '새벽(01~05)',
       '아침(06~10)', '점심(11~14)', '오후(15~18)', '저녁(19~21)', '심야(22~00)'],
      dtype='object')

In [22]:
q5_df.head()[['poor_num', 'age_합계', 'age_15세미만',
       'age_15~64세', 'age_65세이상', 'age_평균연령', 'sx_rate_합계', 'sx_rate_15세미만',
       'sx_rate_15~64세', 'sx_rate_65세이상', 'foreign_num', 'cctv_cnt',
       'bell_cnt', 'light_cnt', 'overall_q5']]

,poor_num,age_합계,age_15세미만,age_15~64세,age_65세이상,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt,overall_q5
0,23097.0,129797.0,10876.0,99167.0,19754.0,43.0,94.2,101.8,97.7,75.2,11988.0,1563.0,406.0,4933.0,74.0
1,23956.0,129797.0,10876.0,99167.0,19754.0,43.0,94.2,101.8,97.7,75.2,11988.0,1563.0,406.0,4933.0,76.0
2,21719.0,157967.0,13201.0,120719.0,24047.0,42.3,95.5,104.7,98.6,77.1,12056.0,1500.0,450.0,5259.0,73.3
3,22112.0,157967.0,13201.0,120719.0,24047.0,42.3,95.5,104.7,98.6,77.1,12056.0,1500.0,450.0,5259.0,79.3
4,23097.0,129797.0,10876.0,99167.0,19754.0,43.0,94.2,101.8,97.7,75.2,11988.0,1500.0,203.0,3000.0,73.6

## X, y data

In [23]:
# q5 data에서 X,y data 분리
X_data = q5_df.drop('overall_q5',axis=1)
y_data = q5_df['overall_q5'].dropna()

In [24]:
# 2020 년도는 y값이 없으므로 제외하고 eval data로 포함
X_data = X_data.drop(X_data[X_data['date'].str.contains('2020')].index)
X_data.head()

,jur_stn,date,pub_cnt,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,...,발생요일(수),발생요일(목),발생요일(금),발생요일(토),새벽(01~05),아침(06~10),점심(11~14),오후(15~18),저녁(19~21),심야(22~00)
0,서울중부경찰서,2018(상반기),204.0,1540.0,177.0,11.0,120.0,635.0,92.0,2.0,...,3436.0,3410.0,3924.0,3866.0,1763.0,1294.0,2020.0,2341.0,2314.0,3013.0
1,서울중부경찰서,2018(하반기),204.0,1638.0,984.0,48.0,606.0,664.0,431.0,6.0,...,3733.0,3628.0,4030.0,4147.0,2034.0,1458.0,2190.0,2408.0,2510.0,3480.0
2,서울종로경찰서,2018(상반기),150.0,600.0,62.0,6.0,52.0,210.0,26.0,0.0,...,2132.0,2260.0,2462.0,2635.0,986.0,910.0,1506.0,1605.0,1458.0,1863.0
3,서울종로경찰서,2018(하반기),150.0,827.0,519.0,28.0,280.0,264.0,172.0,5.0,...,2528.0,2435.0,2597.0,2952.0,1182.0,928.0,1605.0,1635.0,1679.0,2142.0
4,서울남대문경찰서,2018(상반기),88.0,1095.0,148.0,5.0,66.0,410.0,57.0,0.0,...,2409.0,2499.0,2644.0,2628.0,907.0,1000.0,1724.0,1967.0,1777.0,1724.0

In [25]:
# 2020년 데이터로 eval data 생성
del_idx = q5_df[q5_df['overall_q5'].notnull()].index
eval_X_data = q5_df.drop(del_idx)
eval_X_data=  eval_X_data.drop('overall_q5',axis=1)

In [26]:
X_data['date'].value_counts()

2018(하반기)    41
2018(상반기)    41
2019(하반기)    41
2019(상반기)    41
Name: date, dtype: int64

In [27]:
eval_X_data['date'].value_counts()

2020(하반기)    41
2020(상반기)    41
Name: date, dtype: int64

In [28]:
X_data.shape, y_data.shape

((164, 91), (164,))

In [29]:
eval_X_data.shape

(82, 91)

In [30]:
# train data save
eval_X_data.reset_index(drop=True,inplace=True)
train_data = pd.concat([X_data,y_data.dropna()],axis=1)
train_data.to_csv("./analysis/q5_train.csv",index=0)
eval_X_data.to_csv("./analysis/q5_target.csv",index=0)