In [1]:
import pandas as pd

## Data Load

In [2]:
q1_total = pd.read_csv('q1_total.csv')
del q1_total['Unnamed: 0']
q1_total.head()

,jur_stn,date,pub_cnt,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,...,sx_rate_65세이상,foreign_num,light_cnt,cctv_cnt,bell_cnt,rob_safety_q1,mur_safety_q2,ta_safety_q3,raw_odder_q4,overall_q5
0,서울중부경찰서,2018(상반기),204.0,1540.0,177.0,11.0,120.0,635.0,92.0,2.0,...,75.2,11988.0,4933.0,1563.0,406.0,79.3,80.7,67.3,66.4,74.0
1,서울중부경찰서,2018(하반기),204.0,1638.0,984.0,48.0,606.0,664.0,431.0,6.0,...,75.2,11988.0,4933.0,1563.0,406.0,79.0,80.5,71.8,70.0,76.0
2,서울종로경찰서,2018(상반기),150.0,600.0,62.0,6.0,52.0,210.0,26.0,0.0,...,77.1,12056.0,5259.0,1500.0,450.0,78.0,81.2,69.6,60.3,73.3
3,서울종로경찰서,2018(하반기),150.0,827.0,519.0,28.0,280.0,264.0,172.0,5.0,...,77.1,12056.0,5259.0,1500.0,450.0,86.7,87.1,76.1,68.4,79.3
4,서울남대문경찰서,2018(상반기),88.0,1095.0,148.0,5.0,66.0,410.0,57.0,0.0,...,75.2,11988.0,3000.0,1500.0,203.0,77.8,80.6,69.2,67.9,73.6

In [3]:
report_112 = pd.read_csv('report_112.csv')
del report_112['Unnamed: 0']
report_112.head()

        date   jur_stn report_sx    inc_info  year  month
0  2018(상반기)   서울서부경찰서        남성        분실습득  2018      6
1  2018(상반기)   서울송파경찰서        여성          폭력  2018      6
2  2018(상반기)   서울강서경찰서        남성          소음  2018      6
3  2018(상반기)  서울영등포경찰서        여성  실종(실종아동 등)  2018      6
4  2018(상반기)   서울강서경찰서        남성        상담문의  2018      6

In [4]:
q1_total.columns

Index(['jur_stn', 'date', 'pub_cnt', 'vio_total_cnt', 'report_sx_남성_x',
       'report_sx_불상_x', 'report_sx_여성_x', 'rob_total_cnt', 'report_sx_남성_y',
       'report_sx_불상_y', 'report_sx_여성_y', 'report_total_cnt', 'report_sx_남성',
       'report_sx_불상', 'report_sx_여성', 'poor_num', 'poor_ratio',
       'Unnamed: 0.1', 'age_합계', 'age_15세미만', 'age_15~64세', 'age_65세이상',
       'age_평균연령', 'sx_rate_합계', 'sx_rate_15세미만', 'sx_rate_15~64세',
       'sx_rate_65세이상', 'foreign_num', 'light_cnt', 'cctv_cnt', 'bell_cnt',
       'rob_safety_q1', 'mur_safety_q2', 'ta_safety_q3', 'raw_odder_q4',
       'overall_q5'],
      dtype='object')

In [5]:
# 강도살인에서 쓸 데이터만 남김
q2_info = q1_total[['jur_stn', 'date', 'pub_cnt', 'report_total_cnt', 'report_sx_남성',
       'report_sx_불상', 'report_sx_여성', 'poor_num', 'poor_ratio', 'age_합계', 'age_15세미만',
       'age_15~64세', 'age_65세이상', 'age_평균연령', 'sx_rate_합계', 'sx_rate_15세미만',
       'sx_rate_15~64세', 'sx_rate_65세이상', 'foreign_num', 'cctv_cnt', 'bell_cnt',
       'light_cnt', 'mur_safety_q2']]
q2_info.head()

,jur_stn,date,pub_cnt,report_total_cnt,report_sx_남성,report_sx_불상,report_sx_여성,poor_num,poor_ratio,age_합계,...,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt,mur_safety_q2
0,서울중부경찰서,2018(상반기),204.0,23470.0,13730.0,3430.0,6310.0,23097.0,17.794710,129797.0,...,43.0,94.2,101.8,97.7,75.2,11988.0,1563.0,406.0,4933.0,80.7
1,서울중부경찰서,2018(하반기),204.0,26011.0,15601.0,3552.0,6858.0,23956.0,18.456513,129797.0,...,43.0,94.2,101.8,97.7,75.2,11988.0,1563.0,406.0,4933.0,80.5
2,서울종로경찰서,2018(상반기),150.0,14790.0,8215.0,2260.0,4315.0,21719.0,13.749074,157967.0,...,42.3,95.5,104.7,98.6,77.1,12056.0,1500.0,450.0,5259.0,81.2
3,서울종로경찰서,2018(하반기),150.0,16754.0,9925.0,2222.0,4607.0,22112.0,13.997860,157967.0,...,42.3,95.5,104.7,98.6,77.1,12056.0,1500.0,450.0,5259.0,87.1
4,서울남대문경찰서,2018(상반기),88.0,14125.0,9315.0,1430.0,3380.0,23097.0,17.794710,129797.0,...,43.0,94.2,101.8,97.7,75.2,11988.0,1500.0,203.0,3000.0,80.6

# ---------------------------------------

## ※ 목표 : Q2 X값 생성

- 전체 112 신고건과 강도, 살인 관련 신고건을 count하여 x값으로 사용

In [6]:
report_112.head(3) # Q2에 사용할 data

        date  jur_stn report_sx inc_info  year  month
0  2018(상반기)  서울서부경찰서        남성     분실습득  2018      6
1  2018(상반기)  서울송파경찰서        여성       폭력  2018      6
2  2018(상반기)  서울강서경찰서        남성       소음  2018      6

### 1. 강도

In [7]:
# 강도 total count
robb_total_cnt = report_112.groupby(['jur_stn','date','inc_info']).count().unstack(fill_value=0).stack()[['report_sx']]
robb_total_cnt.reset_index(inplace=True)
robb_total_cnt = robb_total_cnt.rename(columns={'report_sx' : 'robb_total_cnt'})
robb_total_cnt = robb_total_cnt[robb_total_cnt['inc_info']=='강도']
robb_total_cnt.head()

     jur_stn       date inc_info  robb_total_cnt
3    마산동부경찰서  2018(상반기)       강도               0
57   마산동부경찰서  2018(하반기)       강도               0
111  마산동부경찰서  2019(상반기)       강도               1
165  마산동부경찰서  2019(하반기)       강도               5
219  마산동부경찰서  2020(상반기)       강도               0

In [8]:
robb_total_cnt['robb_total_cnt'] = robb_total_cnt.apply(lambda x : x['robb_total_cnt'] * 5 if x['date'] =='2018(상반기)' else x['robb_total_cnt'] , axis= 1   )
# 0 일경우 1로 대체
robb_total_cnt['robb_total_cnt'] = robb_total_cnt.apply(lambda x : 1 if x['robb_total_cnt'] ==0 else x['robb_total_cnt'] , axis= 1   )

del robb_total_cnt['inc_info']
robb_total_cnt.head(3)

     jur_stn       date  robb_total_cnt
3    마산동부경찰서  2018(상반기)               1
57   마산동부경찰서  2018(하반기)               1
111  마산동부경찰서  2019(상반기)               1

### 2. 살인

In [9]:
# 살인 신고자 total count
mur_total_cnt = report_112.groupby(['jur_stn','date','inc_info']).count().unstack(fill_value=0).stack()[['year']]
mur_total_cnt.reset_index(inplace=True)
mur_total_cnt = mur_total_cnt.rename(columns={'year' : 'mur_total_cnt'})
mur_total_cnt = mur_total_cnt[mur_total_cnt['inc_info']=='살인']
mur_total_cnt.head()

     jur_stn       date inc_info  mur_total_cnt
25   마산동부경찰서  2018(상반기)       살인              0
79   마산동부경찰서  2018(하반기)       살인              2
133  마산동부경찰서  2019(상반기)       살인              0
187  마산동부경찰서  2019(하반기)       살인              3
241  마산동부경찰서  2020(상반기)       살인              0

In [10]:
mur_total_cnt['mur_total_cnt'] = mur_total_cnt.apply(lambda x : x['mur_total_cnt'] * 5 if x['date'] =='2018(상반기)' else x['mur_total_cnt'] , axis= 1   )
# 0 일경우 1로 대체
mur_total_cnt['mur_total_cnt'] = mur_total_cnt.apply(lambda x : 1 if x['mur_total_cnt'] ==0 else x['mur_total_cnt'] , axis= 1   )

### 1, 2 merge

In [11]:
# 강도 + 살인 merge
temp_df = pd.merge(robb_total_cnt, mur_total_cnt)
temp_df.head()

   jur_stn       date  robb_total_cnt inc_info  mur_total_cnt
0  마산동부경찰서  2018(상반기)               1       살인              1
1  마산동부경찰서  2018(하반기)               1       살인              2
2  마산동부경찰서  2019(상반기)               1       살인              1
3  마산동부경찰서  2019(하반기)               5       살인              3
4  마산동부경찰서  2020(상반기)               1       살인              1

## 3. X값 최종 Merge

In [12]:
# feature로 사용될 데이터 종합
q2_df = pd.merge( temp_df, q2_info, how='outer')
q2_df.head()

,jur_stn,date,robb_total_cnt,inc_info,mur_total_cnt,pub_cnt,report_total_cnt,report_sx_남성,report_sx_불상,report_sx_여성,...,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt,mur_safety_q2
0,마산동부경찰서,2018(상반기),1.0,살인,1.0,330.0,17755.0,10485.0,1785.0,5485.0,...,42.800000,100.800000,108.500000,105.000000,77.5,2770.000000,1218.0,100.0,5647.0,79.0
1,마산동부경찰서,2018(하반기),1.0,살인,2.0,330.0,20677.0,12327.0,2011.0,6339.0,...,42.800000,100.800000,108.500000,105.000000,77.5,2770.000000,1218.0,100.0,5647.0,75.6
2,마산동부경찰서,2019(상반기),1.0,살인,1.0,331.0,23939.0,14081.0,2610.0,7248.0,...,43.700000,100.300000,109.400000,104.400000,78.6,2871.000000,1218.0,100.0,5647.0,78.2
3,마산동부경찰서,2019(하반기),5.0,살인,3.0,331.0,26029.0,15184.0,3190.0,7655.0,...,43.700000,100.300000,109.400000,104.400000,78.6,2871.000000,1218.0,100.0,5647.0,76.5
4,마산동부경찰서,2020(상반기),1.0,살인,1.0,331.0,23535.0,13307.0,3359.0,6869.0,...,42.866667,100.666667,109.066667,104.733333,77.7,2803.666667,1218.0,100.0,5647.0,NaN

In [13]:
del q2_df['inc_info']

In [14]:
q2_df['date'].value_counts()

2020(상반기)    41
2019(하반기)    41
2019(상반기)    41
2018(하반기)    41
2020(하반기)    41
2018(상반기)    41
Name: date, dtype: int64

In [15]:
q2_df[q2_df['jur_stn'].str.contains('세종')]

,jur_stn,date,robb_total_cnt,mur_total_cnt,pub_cnt,report_total_cnt,report_sx_남성,report_sx_불상,report_sx_여성,poor_num,...,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt,mur_safety_q2
198,세종경찰서,2018(상반기),1.0,1.0,65.0,7545.000000,4325.000000,1415.000000,1805.0,23006.000000,...,36.2,101.400000,103.200000,104.7,75.5,6486.000000,2527.0,100.0,10410.0,82.1
199,세종경찰서,2018(하반기),1.0,1.0,65.0,10593.000000,6050.000000,1768.000000,2775.0,24595.000000,...,36.2,101.400000,103.200000,104.7,75.5,6486.000000,2527.0,100.0,10410.0,80.8
200,세종경찰서,2019(상반기),1.0,1.0,64.0,21278.000000,11388.000000,3862.000000,6028.0,28175.000000,...,36.5,101.300000,103.100000,104.4,76.7,7829.000000,2527.0,100.0,10410.0,84.9
243,세종경찰서,2019(하반기),NaN,NaN,64.0,13138.666667,7254.333333,2348.333333,3536.0,25258.666667,...,36.3,101.366667,103.166667,104.6,75.9,6933.666667,2527.0,100.0,10410.0,79.9
244,세종경찰서,2020(상반기),NaN,NaN,63.0,13138.666667,7254.333333,2348.333333,3536.0,25258.666667,...,36.3,101.366667,103.166667,104.6,75.9,6933.666667,2527.0,100.0,10410.0,NaN
245,세종경찰서,2020(하반기),NaN,NaN,63.0,13138.666667,7254.333333,2348.333333,3536.0,25258.666667,...,36.3,101.366667,103.166667,104.6,75.9,6933.666667,2527.0,100.0,10410.0,NaN

In [16]:
## 세종 null 값 index 채우기 ##
null_index= q2_df[q2_df['cctv_cnt'].isnull()].index 
sejong_mean = q2_df[(q2_df['jur_stn'].str.contains('세종')) & (q2_df['robb_total_cnt'].notnull()) ].mean()

In [17]:
for i in null_index :
    for c in q2_df.columns[2:-1] :
#         print(i, c)
#         print(q1_total.loc[i, c])
        q2_df.loc[i, c] = sejong_mean[c]

In [18]:
q2_df['robb_total_cnt'].fillna(1, inplace=True)
q2_df['mur_total_cnt'].fillna(1, inplace=True)

In [19]:
q2_df[q2_df['jur_stn'].str.contains('세종')]

,jur_stn,date,robb_total_cnt,mur_total_cnt,pub_cnt,report_total_cnt,report_sx_남성,report_sx_불상,report_sx_여성,poor_num,...,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt,mur_safety_q2
198,세종경찰서,2018(상반기),1.0,1.0,65.0,7545.000000,4325.000000,1415.000000,1805.0,23006.000000,...,36.2,101.400000,103.200000,104.7,75.5,6486.000000,2527.0,100.0,10410.0,82.1
199,세종경찰서,2018(하반기),1.0,1.0,65.0,10593.000000,6050.000000,1768.000000,2775.0,24595.000000,...,36.2,101.400000,103.200000,104.7,75.5,6486.000000,2527.0,100.0,10410.0,80.8
200,세종경찰서,2019(상반기),1.0,1.0,64.0,21278.000000,11388.000000,3862.000000,6028.0,28175.000000,...,36.5,101.300000,103.100000,104.4,76.7,7829.000000,2527.0,100.0,10410.0,84.9
243,세종경찰서,2019(하반기),1.0,1.0,64.0,13138.666667,7254.333333,2348.333333,3536.0,25258.666667,...,36.3,101.366667,103.166667,104.6,75.9,6933.666667,2527.0,100.0,10410.0,79.9
244,세종경찰서,2020(상반기),1.0,1.0,63.0,13138.666667,7254.333333,2348.333333,3536.0,25258.666667,...,36.3,101.366667,103.166667,104.6,75.9,6933.666667,2527.0,100.0,10410.0,NaN
245,세종경찰서,2020(하반기),1.0,1.0,63.0,13138.666667,7254.333333,2348.333333,3536.0,25258.666667,...,36.3,101.366667,103.166667,104.6,75.9,6933.666667,2527.0,100.0,10410.0,NaN

In [20]:
q2_df.isnull().sum()

jur_stn              0
date                 0
robb_total_cnt       0
mur_total_cnt        0
pub_cnt              0
report_total_cnt     0
report_sx_남성         0
report_sx_불상         0
report_sx_여성         0
poor_num             0
poor_ratio           0
age_합계               0
age_15세미만            0
age_15~64세           0
age_65세이상            0
age_평균연령             0
sx_rate_합계           0
sx_rate_15세미만        0
sx_rate_15~64세       0
sx_rate_65세이상        0
foreign_num          0
cctv_cnt             0
bell_cnt             0
light_cnt            0
mur_safety_q2       82
dtype: int64

In [21]:
q2_df.to_csv('q2_df.csv')

## X_data, y_data

In [22]:
# q2 data에서 X,y data 분리
X_data = q2_df.drop('mur_safety_q2',axis=1)
y_data = q2_df['mur_safety_q2'].dropna()

In [23]:
# 2020 년도는 y값이 없으므로 제외하고 eval data로 포함
X_data = X_data.drop(X_data[X_data['date'].str.contains('2020')].index)
X_data.head()

,jur_stn,date,robb_total_cnt,mur_total_cnt,pub_cnt,report_total_cnt,report_sx_남성,report_sx_불상,report_sx_여성,poor_num,...,age_65세이상,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,cctv_cnt,bell_cnt,light_cnt
0,마산동부경찰서,2018(상반기),1.0,1.0,330.0,17755.0,10485.0,1785.0,5485.0,27675.62,...,29482.0,42.8,100.8,108.5,105.0,77.5,2770.0,1218.0,100.0,5647.0
1,마산동부경찰서,2018(하반기),1.0,2.0,330.0,20677.0,12327.0,2011.0,6339.0,27675.62,...,29482.0,42.8,100.8,108.5,105.0,77.5,2770.0,1218.0,100.0,5647.0
2,마산동부경찰서,2019(상반기),1.0,1.0,331.0,23939.0,14081.0,2610.0,7248.0,28866.90,...,31157.0,43.7,100.3,109.4,104.4,78.6,2871.0,1218.0,100.0,5647.0
3,마산동부경찰서,2019(하반기),5.0,3.0,331.0,26029.0,15184.0,3190.0,7655.0,28866.90,...,31157.0,43.7,100.3,109.4,104.4,78.6,2871.0,1218.0,100.0,5647.0
6,마산중부경찰서,2018(상반기),1.0,1.0,472.0,15655.0,8915.0,1710.0,5030.0,24980.34,...,33012.0,44.5,99.7,106.5,107.0,73.1,2873.0,1500.0,100.0,6821.0

In [24]:
# 2020년 데이터로 eval data 생성
del_idx = q2_df[q2_df['mur_safety_q2'].notnull()].index
eval_X_data = q2_df.drop(del_idx)
eval_X_data=  eval_X_data.drop('mur_safety_q2',axis=1)

In [25]:
X_data['date'].value_counts()

2019(상반기)    41
2018(하반기)    41
2019(하반기)    41
2018(상반기)    41
Name: date, dtype: int64

In [26]:
eval_X_data['date'].value_counts()

2020(하반기)    41
2020(상반기)    41
Name: date, dtype: int64

In [27]:
X_data.shape, y_data.shape

((164, 24), (164,))

In [28]:
eval_X_data.shape

(82, 24)

In [29]:
# train data save
eval_X_data.reset_index(drop=True,inplace=True)
train_data = pd.concat([X_data,y_data],axis=1)
train_data.to_csv("./analysis/q2_train.csv",index=0)
eval_X_data.to_csv("./analysis/q2_target.csv",index=0)