# ìˆ˜ì› ê²©ìë‹¨ìœ„ ë¶„ì„
### ğŸ“Œ4ê°œì‹œêµ°êµ¬ ë¶„ì„ì—ì„œ ì¶”ì¶œí–ˆë˜ íŠ¹ì„±ë“¤ì„ ê°™ì€ ë°©ì‹ìœ¼ë¡œ ê²©ìì—ì„œ ì¶”ì¶œí•´ë³´ì.

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString
from tqdm import tqdm 
import folium as f
import warnings 
warnings.filterwarnings('ignore')
tqdm.pandas()

/opt/app-root/lib/python3.6/site-packages/geopandas/_compat.py:110: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
import matplotlib.font_manager as fm
import matplotlib as mat
## í°íŠ¸ ê²½ë¡œ
font_path = './data/NanumBarunGothic.ttf' 
## FontProperties ì¸ìŠ¤í„´ìŠ¤ ìƒì„±
font_prop = fm.FontProperties(fname=font_path)
## í°íŠ¸ ì´ë¦„
font_name = font_prop.get_name()
plt.rcParams['font.family']= 'NanumBarunGothic'

In [3]:
# ìˆ˜ì› êµ¬ ë‹¨ìœ„ ì˜ì—­
kk_area = gpd.GeoDataFrame.from_file('data/LARD_ADM_SECT_SGG_41.shp', encoding='cp949')
kk_area = kk_area.to_crs({'init':'epsg:4326'}) # ì¢Œí‘œê³„ epsg : 4326
suwon_area = kk_area[kk_area['SGG_NM'].str.contains('ìˆ˜ì›')]
suwon_area

,ADM_SECT_C,SGG_NM,SGG_OID,COL_ADM_SE,GID,geometry
38,41115,ìˆ˜ì›ì‹œíŒ”ë‹¬êµ¬,340,41110,242,"MULTIPOLYGON (((126.99527 37.27383, 126.99529 ..."
39,41111,ìˆ˜ì›ì‹œì¥ì•ˆêµ¬,1649,41110,243,"POLYGON ((126.96335 37.30029, 126.96338 37.300..."
40,41117,ìˆ˜ì›ì‹œì˜í†µêµ¬,2610,41110,244,"POLYGON ((127.03216 37.30956, 127.03229 37.309..."
41,41113,ìˆ˜ì›ì‹œê¶Œì„ êµ¬,1313,41110,245,"POLYGON ((126.92697 37.27208, 126.92731 37.272..."

In [4]:
# ìˆ˜ì›ì‹œ í‘œì¤€ê²©ì 250x250
suwon_grid = gpd.read_file('./data/32.ìˆ˜ì›ì‹œ_í‘œì¤€ê²©ì(250M_x_250M).geojson')
suwon_grid['total_area'] =suwon_grid['geometry'].to_crs({'init': 'epsg:6933'})\
               .map(lambda p: p.area / 10**6 )
suwon_grid.head(3)

          gid                                           geometry  total_area
0  ë‹¤ì‚¬49aa19ab  MULTIPOLYGON (((126.92477 37.27077, 126.92475 ...    0.062546
1  ë‹¤ì‚¬49aa19ba  MULTIPOLYGON (((126.92475 37.27302, 126.92473 ...    0.062546
2  ë‹¤ì‚¬49aa20aa  MULTIPOLYGON (((126.92472 37.27753, 126.92470 ...    0.062546

# 1. ê²©ìë‹¨ìœ„ ì¸êµ¬/112 ì‹ ê³  ë°ì´í„° ì „ì²˜ë¦¬
---
## ğŸ“¢ ê²©ìë³„ ì¸êµ¬ íŠ¹ì„±ê³¼ 112 ì‹ ê³ ìˆ˜ë¥¼ ì¶”ì¶œ
- compasì—ì„œ ì œê³µëœ ë°ì´í„° ì¤‘ ì¸êµ¬ì •ë³´, 112 ì‹ ê³ ìˆ˜ (ê²©ìê¸°ì¤€)ë¥¼ í¬í•¨í•œ ë°ì´í„°
- 30.ì„±ì—°ë ¹ë³„ê±°ì£¼ì¸êµ¬ê²©ì / 1.112ì‹ ê³ ì´ë ¥ ì™¸ 4ê°œì‹œêµ°êµ¬ feature ì¶”ì¶œ ì‹œ ì‚¬ìš©í–ˆë˜ ë°ì´í„°

In [5]:
suwon_pop = gpd.read_file('./data/30.ìˆ˜ì›ì‹œ_ì„±ì—°ë ¹ë³„_ê±°ì£¼ì¸êµ¬ê²©ì(250M_X_250M).geojson')
report_log = pd.read_csv('./data/1.ìˆ˜ì›ì‹œ_112ì‹ ê³ ì´ë ¥(ê²©ì_ê´€í• ê²½ê³„ë§¤í•‘).csv')

### <1> ì¸êµ¬

In [6]:
suwon_pop.fillna(0, inplace=True) # ì¸êµ¬ê°€ ë¹„ì–´ìˆëŠ” ê²©ìì—ëŠ” fillNa
# total pop (ì´ ì¸êµ¬ìˆ˜) êµ¬í•˜ê¸°
suwon_pop['total_pop'] = suwon_pop['m_20g_pop'] + suwon_pop['w_20g_pop'] + suwon_pop['m_30g_pop'] + suwon_pop['w_30g_pop'] + suwon_pop['m_40g_pop'] + \
    suwon_pop['w_40g_pop'] + suwon_pop['m_50g_pop'] + suwon_pop['w_50g_pop'] + suwon_pop['m_60g_pop'] +suwon_pop['w_60g_pop'] + \
       suwon_pop['m_70g_pop'] + suwon_pop['w_70g_pop'] + suwon_pop['m_80g_pop'] + suwon_pop['w_80g_pop'] + suwon_pop['m_90g_pop'] + \
       suwon_pop['w_90g_pop'] + suwon_pop['m_100_pop'] + suwon_pop['w_100g_pop']
# 0ld pop(60 ~ ë…¸ë ¹ ì¸êµ¬) êµ¬í•˜ê¸°
suwon_pop['old_pop'] = suwon_pop['m_60g_pop'] +suwon_pop['w_60g_pop'] + \
       suwon_pop['m_70g_pop'] + suwon_pop['w_70g_pop'] + suwon_pop['m_80g_pop'] + suwon_pop['w_80g_pop'] + suwon_pop['m_90g_pop'] + \
       suwon_pop['w_90g_pop'] + suwon_pop['m_100_pop'] + suwon_pop['w_100g_pop']

### <2> 112ì‹ ê³

#### ê²©ì ë³„ TOTAL ì‹ ê³  ìˆ˜ë¥¼ count

In [7]:
# ì‹ ê³ ìˆ˜ total
total_report = report_log.groupby('gid').count().reset_index()[['gid','case_type']]
total_report = total_report.rename(columns={'case_type' : 'total_cnt'})
total_report.sort_values('total_cnt', ascending=False).head()

             gid  total_cnt
673   ë‹¤ì‚¬55bb18bb       4729
1055  ë‹¤ì‚¬58ab18ba       3447
672   ë‹¤ì‚¬55bb18ba       3044
708   ë‹¤ì‚¬56aa19aa       2676
818   ë‹¤ì‚¬56bb21ab       2560

### case_type ë¶„ë¥˜
<li>*** case_typeì„ <strong>5ê°€ì§€ category</strong>ë¡œ ë¶„ë¥˜ í•´ë´„ ***</li>
<li>1. êµí†µ ê´€ë ¨ ì ‘ìˆ˜ : 'êµí†µë¶ˆí¸', 'êµí†µì‚¬ê³ ','êµí†µìœ„ë°˜', 'ë¬´ì „ì·¨ì‹ìŠ¹ì°¨' </li>
<li>2. ì‹œë¹„, í­ë ¥ ê´€ë ¨ ì ‘ìˆ˜ : 'ì‹œë¹„', 'ê°€ì •í­ë ¥', 'í­ë ¥', 'í–‰íŒ¨ì†Œë€'</li>
<li>3. ì ˆë„, ê¸°íƒ€ ê²½ë²”ì£„ ê´€ë ¨ ì ‘ìˆ˜ : 'ì ˆë„', 'ê¸°íƒ€ê²½ë²”'. 'ë„ë°•', 'ê¸°íƒ€í˜•ì‚¬ë²”'</li>
<li>4. ì„œë¹„ìŠ¤ ê´€ë ¨ ì ‘ìˆ˜ : 'ì„œë¹„ìŠ¤ìš”ì²­', 'ìƒë‹´ë¬¸ì˜', 'ë³´í˜¸ì¡°ì¹˜', 'ë¶„ì‹¤ìŠµë“'</li>
<li>5. ê¸°íƒ€ ì ‘ìˆ˜ : 'ë¹„ìƒë²¨', 'ìœ„í—˜ë°©ì§€', 'ì†ŒìŒ', 'ê¸°íƒ€_íƒ€ê¸°ê´€', 'ì£¼ì·¨ì', 'ì‹¤ì¢…(ì‹¤ì¢…ì•„ë™ ë“±)', 'ì²­ì†Œë…„ë¹„í–‰' </li>

In [8]:
traffic_list = ['êµí†µë¶ˆí¸', 'êµí†µì‚¬ê³ ','êµí†µìœ„ë°˜', 'ë¬´ì „ì·¨ì‹ìŠ¹ì°¨']
vio_list = [ 'ì‹œë¹„', 'ê°€ì •í­ë ¥', 'í­ë ¥', 'í–‰íŒ¨ì†Œë€']
crime_list = [ 'ì ˆë„', 'ê¸°íƒ€ê²½ë²”', 'ë„ë°•','ê¸°íƒ€í˜•ì‚¬ë²”' ]
serv_list = ['ì„œë¹„ìŠ¤ìš”ì²­', 'ìƒë‹´ë¬¸ì˜', 'ë³´í˜¸ì¡°ì¹˜', 'ë¶„ì‹¤ìŠµë“']
etc_list = ['ë¹„ìƒë²¨', 'ìœ„í—˜ë°©ì§€', 'ì†ŒìŒ', 'ê¸°íƒ€_íƒ€ê¸°ê´€', 'ì£¼ì·¨ì', 'ì‹¤ì¢…(ì‹¤ì¢…ì•„ë™ ë“±)' , 'ì²­ì†Œë…„ë¹„í–‰']

In [9]:
report_log['case_cat'] = report_log['case_type'].apply(lambda x : 'êµí†µ' if x in traffic_list else x)
report_log['case_cat'] = report_log['case_cat'].apply(lambda x : 'ì‹œë¹„/í­ë ¥' if x in vio_list else x)
report_log['case_cat'] = report_log['case_cat'].apply(lambda x : 'ì ˆë„/ê²½ë²”' if x in crime_list else x)
report_log['case_cat'] = report_log['case_cat'].apply(lambda x : 'ì„œë¹„ìŠ¤' if x in serv_list else x)
report_log['case_cat'] = report_log['case_cat'].apply(lambda x : 'ê¸°íƒ€' if x in etc_list else x)
report_log['case_cat'].value_counts()

ê¸°íƒ€       56431
ì„œë¹„ìŠ¤      54253
ì‹œë¹„/í­ë ¥    43852
ì ˆë„/ê²½ë²”    38748
êµí†µ       30480
Name: case_cat, dtype: int64

In [10]:
report_case_cnt = report_log.groupby(['gid','case_cat']).count().reset_index()[['gid','case_cat','case_type']]
report_case_cnt.head(3)

          gid case_cat  case_type
0  ë‹¤ì‚¬49ab20aa       ê¸°íƒ€          1
1  ë‹¤ì‚¬49ba19ba       êµí†µ          2
2  ë‹¤ì‚¬49ba19ba       ê¸°íƒ€          4

In [11]:
temp_data = total_report[['gid', 'total_cnt']].drop_duplicates()
for i in report_case_cnt['case_cat'].unique() :
    temp_data[i+ '_case_cnt'] = 0
for i in range(len(report_case_cnt)) :
    temp_name = report_case_cnt.loc[i, 'case_cat']
    temp = temp_data[temp_data['gid']==report_case_cnt['gid'].iloc[i]]
    temp[temp_name] = report_case_cnt['case_type'].iloc[i]
    temp_data.loc[temp.index , temp_name+'_case_cnt'] = report_case_cnt[report_case_cnt['case_cat']==temp_name].loc[i, 'case_type']
temp_data.head(3)

,gid,total_cnt,ê¸°íƒ€_case_cnt,êµí†µ_case_cnt,ì„œë¹„ìŠ¤_case_cnt,ì‹œë¹„/í­ë ¥_case_cnt,ì ˆë„/ê²½ë²”_case_cnt
0,ë‹¤ì‚¬49ab20aa,1,1,0,0,0,0
1,ë‹¤ì‚¬49ba19ba,11,4,2,2,3,0
2,ë‹¤ì‚¬49ba19bb,12,6,2,1,1,2

#### ê²©ìì¸êµ¬ë°ì´í„°ì™€ 112ì‹ ê³ ë°ì´í„°ë¥¼ Mergeí•©ë‹ˆë‹¤.

In [12]:
report_pop = pd.merge(suwon_pop, temp_data, how='outer')
report_pop.fillna(0, inplace=True)
report_pop.head(3)

,gid,m_20g_pop,w_20g_pop,m_30g_pop,w_30g_pop,m_40g_pop,w_40g_pop,m_50g_pop,w_50g_pop,m_60g_pop,...,w_100g_pop,geometry,total_pop,old_pop,total_cnt,ê¸°íƒ€_case_cnt,êµí†µ_case_cnt,ì„œë¹„ìŠ¤_case_cnt,ì‹œë¹„/í­ë ¥_case_cnt,ì ˆë„/ê²½ë²”_case_cnt
0,ë‹¤ì‚¬49aa19ab,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,"POLYGON ((949000.000 1919250.000, 949000.000 1...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ë‹¤ì‚¬49aa19ba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,"POLYGON ((949000.000 1919500.000, 949000.000 1...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ë‹¤ì‚¬49aa20aa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,"POLYGON ((949000.000 1920000.000, 949000.000 1...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### *** % ë‹¨ìœ„ í”¼ì³ë¥¼ ì¶”ê°€í•©ë‹ˆë‹¤
1. êµí†µì‹ ê³ ë¹„ìœ¨ : ì „ì²´ ì‹ ê³  ìˆ˜ / êµí†µ ì‹ ê³  ìˆ˜ * 100
2. ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨ : ì „ì²´ ì‹ ê³  ìˆ˜ / ê¸°íƒ€ë°ì„œë¹„ìŠ¤ ì‹ ê³  ìˆ˜  * 100
3. ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨ : ì „ì²´ ì‹ ê³  ìˆ˜ / ì ˆë„í­ë ¥ ì‹ ê³  ìˆ˜  * 100

In [13]:
report_pop['êµí†µì‹ ê³ ë¹„ìœ¨'] =  report_pop['êµí†µ_case_cnt'] / report_pop['total_cnt'] * 100
report_pop['ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨'] =  (report_pop['ê¸°íƒ€_case_cnt'] + report_pop['ì„œë¹„ìŠ¤_case_cnt']) / report_pop['total_cnt'] * 100
report_pop['ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨'] =  (report_pop['ì ˆë„/ê²½ë²”_case_cnt'] + report_pop['ì‹œë¹„/í­ë ¥_case_cnt']) / report_pop['total_cnt'] * 100
report_pop.fillna(0, inplace=True)
report_pop.head(3)

,gid,m_20g_pop,w_20g_pop,m_30g_pop,w_30g_pop,m_40g_pop,w_40g_pop,m_50g_pop,w_50g_pop,m_60g_pop,...,old_pop,total_cnt,ê¸°íƒ€_case_cnt,êµí†µ_case_cnt,ì„œë¹„ìŠ¤_case_cnt,ì‹œë¹„/í­ë ¥_case_cnt,ì ˆë„/ê²½ë²”_case_cnt,êµí†µì‹ ê³ ë¹„ìœ¨,ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨,ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨
0,ë‹¤ì‚¬49aa19ab,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ë‹¤ì‚¬49aa19ba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ë‹¤ì‚¬49aa20aa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# report_pop.columns ì»¬ëŸ¼í™•ì¸
report_pop_ = report_pop.copy()
report_pop_[['gid','total_pop','total_cnt', 'ê¸°íƒ€_case_cnt', 'êµí†µ_case_cnt', 'ì„œë¹„ìŠ¤_case_cnt',
       'ì‹œë¹„/í­ë ¥_case_cnt', 'ì ˆë„/ê²½ë²”_case_cnt', 'êµí†µì‹ ê³ ë¹„ìœ¨', 'ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨', 'ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨']].to_csv('./data/ê²©ìê¸°ì¤€ì‹ ê³ ë°ì´í„°.csv')

# 2. ê²©ìë‹¨ìœ„ ìš©ë„ì§€ì—­ë„, í† ì§€ì´ìš©ê³„íšë„, ì£¼íƒë…¸í›„ë„ ë°ì´í„° ì „ì²˜ë¦¬
---
## ğŸ“¢ ê²©ìë³„ í† ì§€,ì£¼íƒ íŠ¹ì„±ì„ ì¶”ì¶œ
- compasì—ì„œ ì œê³µëœ ë°ì´í„° ì¤‘ ìƒë‹¨ì˜ ì •ë³´ë¥¼ í¬í•¨í•œ ë°ì´í„°
- 9.ìš©ë„ì§€ì—­ë„ / 41.í† ì§€ì´ìš©ê³„íšë„ / 7.ì£¼íƒë…¸í›„ë„
- ì½”ë“œì •ì˜ì„œ íŒŒì¼ì„ í™œìš©í•˜ì—¬ ìš©ë„ì§€ì—­ì§€êµ¬ì½”ë“œë¥¼ ë§¤ì¹­

## <1> ìš©ë„ì§€ì—­ë„

In [15]:
use_area = gpd.read_file('./data/9.4ê°œì‹œë„_ìš©ë„ì§€ì—­ë„.geojson')
use_area = use_area[use_area['COL_ADM_SE']=='41110'] # 41110 : ìˆ˜ì›ì‹œ
# ì‹¤ë©´ì  êµ¬í•˜ê¸°
# use_area['area'] =use_area['geometry'].to_crs({'init': 'epsg:6933'})\
#                .map(lambda p: p.area / 10**6 ) 
# use_area['SGG_OID'] =  use_area['SGG_OID'].astype('int64')
use_area.head()

,MNUM,ALIAS,REMARK,NTFDATE,SGG_OID,COL_ADM_SE,geometry
6003,37400004111020090126UQA2200011000,None,None,None,1132.0,41110,"MULTIPOLYGON (((127.02267 37.25099, 127.02263 ..."
6004,37400004111020160314UQA1220403000,None,None,None,27217.0,41110,"MULTIPOLYGON (((127.04568 37.23551, 127.04570 ..."
6005,16110004111020120001UQA1220001000,None,None,None,1596.0,41110,"MULTIPOLYGON (((127.05192 37.28382, 127.05201 ..."
6006,16110004111020120001UQA1220026000,None,None,None,1597.0,41110,"MULTIPOLYGON (((127.06355 37.27469, 127.06436 ..."
6007,16110004111020120001UQA1220005000,None,None,None,1598.0,41110,"MULTIPOLYGON (((127.06826 37.29386, 127.06878 ..."

In [16]:
grid_use_area = gpd.overlay(use_area, suwon_grid, how='intersection')

In [17]:
grid_use_area['use_cd'] = grid_use_area['MNUM'].apply(lambda x : x[-13:-7]) # ìš©ë„ì§€ì—­ì§€êµ¬ì½”ë“œ
code_nm = pd.read_excel('./data/ì½”ë“œì •ì˜ì„œ.xlsx', header=960) # ìš©ë„ì§€ì—­ì§€êµ¬êµ¬ë¶„ì½”ë“œ
drop_idx = np.arange(1164, len(code_nm))
code_nm.drop(drop_idx, inplace=True)

In [18]:
# ì½”ë“œì •ì˜ì„œì— ë”°ë¼ ìš©ë„ì§€ì—­êµ¬ë¶„ì½”ë“œëª…ì„ ë„ì¶œí•´ ë´…ì‹œë‹¤
code_dict = code_nm.set_index('ì½”ë“œ').to_dict()['ì½”ë“œëª…'] # code name to dictionary
grid_use_area['use_nm'] = grid_use_area['use_cd'].apply(lambda x: code_dict[x] if x in code_dict.keys() else x)
grid_use_area['use_nm'].value_counts()

add_code = {
    'UQA500' : 'ë„ì‹œì§€ì—­ë¯¸ì§€ì •',
    'UQB000' : 'ë„ì‹œì§€ì—­ê¸°íƒ€',
    'UQA999' : 'ê´€ë¦¬ì§€ì—­ë¯¸ë¶„ë¥˜'
}
grid_use_area['use_nm'] = grid_use_area['use_nm'].apply(lambda x: add_code[x] if x in add_code.keys() else x)

In [19]:
len(grid_use_area)

5552

In [20]:
# grid_use_area.drop_duplicates(subset='geometry')
grid_use_area['area'] = gpd.GeoDataFrame(grid_use_area)['geometry'].to_crs({'init': 'epsg:6933'})\
               .map(lambda p: p.area / 10**6 ) # ì‹¤ë©´ì 
grid_use_area.head()

,MNUM,ALIAS,REMARK,NTFDATE,SGG_OID,COL_ADM_SE,gid,total_area,geometry,use_cd,use_nm,area
0,37400004111020090126UQA2200011000,None,None,None,1132.0,41110,ë‹¤ì‚¬57ab16bb,0.062547,"POLYGON ((127.01932 37.24992, 127.01929 37.249...",UQA220,ì¼ë°˜ìƒì—…ì§€ì—­,0.017128
1,37400004111020090126UQA1300015000,None,None,None,1134.0,41110,ë‹¤ì‚¬57ab16bb,0.062547,"POLYGON ((127.01795 37.25090, 127.01947 37.250...",UQA130,ì¤€ì£¼ê±°ì§€ì—­,0.011286
2,37400004111020140117UQA4300002001,None,None,None,1948.0,41110,ë‹¤ì‚¬57ab16bb,0.062547,"MULTIPOLYGON (((127.01805 37.24880, 127.01807 ...",UQA430,ìì—°ë…¹ì§€ì§€ì—­,0.002418
3,37400004111020140117UQA1220060000,None,None,None,1945.0,41110,ë‹¤ì‚¬57ab16bb,0.062547,"POLYGON ((127.01891 37.24877, 127.01942 37.248...",UQA122,ì œ2ì¢…ì¼ë°˜ì£¼ê±°ì§€ì—­,0.000329
4,37400004111020140117UQA2200012000,None,None,None,1947.0,41110,ë‹¤ì‚¬57ab16bb,0.062547,"POLYGON ((127.01891 37.24877, 127.01893 37.248...",UQA220,ì¼ë°˜ìƒì—…ì§€ì—­,0.017660

### ìš©ì§€ ì¢…ë¥˜ê°€ ìƒì„¸í•˜ê²Œ ë˜ì–´ ìˆì–´ì„œ(ì´ 25ì¢… !) í¸ì˜ìƒ ë¹„ìŠ·í•œ ìš©ì§€ ë¼ë¦¬ ë¬¶ì–´ì„œ ì¬ë¶„ë¥˜ í•´ ë³´ì•˜ë‹¤.
1. <strong>ë…¹ì§€ì§€ì—­</strong> : 'ê³„íšê´€ë¦¬ì§€ì—­', 'ìì—°í™˜ê²½ë³´ì „ì§€ì—­', 'ë³´ì „ê´€ë¦¬ì§€ì—­', '~ ë…¹ì§€ì§€ì—­'
2. <strong>ì£¼ê±°ì§€ì—­</strong> : '~ ì£¼ê±°ì§€ì—­'
3. <strong>ë†ê²½ì§€ì—­</strong> : 'ë†ë¦¼ì§€ì—­', 'ìƒì‚°ê´€ë¦¬ì§€ì—­'
4. <strong>ìƒì—…ì§€ì—­</strong> : '~ ìƒì—…ì§€ì—­'
5. <strong>ê³µì—…ì§€ì—­</strong> : '~ ê³µì—…ì§€ì—­'
6. <strong>ê¸°íƒ€</strong> : ë¯¸ì§€ì •, ê¸°íƒ€

In [21]:
# grid_use_area = grid_use_area.groupby(['gid','use_nm']).sum().reset_index()[['gid','use_nm','area']]
grid_use_area['use_cat'] = grid_use_area['use_nm'].apply(lambda x : 'ë…¹ì§€ì§€ì—­' if 'ë…¹ì§€' in x or x in ['ê³„íšê´€ë¦¬ì§€ì—­', 'ìì—°í™˜ê²½ë³´ì „ì§€ì—­', 'ë³´ì „ê´€ë¦¬ì§€ì—­' ] else x)
grid_use_area['use_cat'] = grid_use_area['use_cat'].apply(lambda x : 'ì£¼ê±°ì§€ì—­' if 'ì£¼ê±°' in x else x)
grid_use_area['use_cat'] = grid_use_area['use_cat'].apply(lambda x : 'ë†ê²½ì§€ì—­' if x in ['ë†ë¦¼ì§€ì—­', 'ìƒì‚°ê´€ë¦¬ì§€ì—­'] else x)
grid_use_area['use_cat'] = grid_use_area['use_cat'].apply(lambda x : 'ìƒì—…ì§€ì—­' if 'ìƒì—…' in x else x)
grid_use_area['use_cat'] = grid_use_area['use_cat'].apply(lambda x : 'ê³µì—…ì§€ì—­' if 'ê³µì—…' in x else x)
grid_use_area['use_cat'] = grid_use_area['use_cat'].apply(lambda x : 'ê¸°íƒ€' if x in ['ë„ì‹œì§€ì—­ë¯¸ì§€ì •', 'ê´€ë¦¬ì§€ì—­ë¯¸ë¶„ë¥˜', 'ë„ì‹œì§€ì—­ê¸°íƒ€'] else x)
grid_use_area.drop_duplicates(subset='geometry', inplace=True)
use_area_sum = grid_use_area.groupby(['gid','use_cat']).sum().reset_index()[['gid', 'use_cat',  'area']]
use_area_sum.head()

          gid use_cat      area
0  ë‹¤ì‚¬49aa19ab    ë…¹ì§€ì§€ì—­  0.007545
1  ë‹¤ì‚¬49aa19ba    ë…¹ì§€ì§€ì—­  0.001092
2  ë‹¤ì‚¬49aa20aa    ë…¹ì§€ì§€ì—­  0.000756
3  ë‹¤ì‚¬49ab18ab    ë…¹ì§€ì§€ì—­  0.002962
4  ë‹¤ì‚¬49ab18ba    ë…¹ì§€ì§€ì—­  0.017015

In [22]:
# suwon_grid['gid'].nunique()

### ì´ ë©´ì  ëŒ€ë¹„ ìš©ë„ ë©´ì ì˜ ë¹„ìœ¨ì„ ì‚°ì •í•˜ì
- ìš©ë„ë©´ì  ë¹„ìœ¨(use_ratio) => ì´ë©´ì (area) / ì „ì²´ë©´ì (total_area) ìœ¼ë¡œ ê³„ì‚°

In [23]:
# ìš©ë„ì§€ì—­ë„ ë¹„ìœ¨
area_con = pd.merge(use_area_sum, suwon_grid[['gid','total_area']], how='outer')
area_con['use_ratio'] = area_con['area'] / area_con['total_area']
area_con.head(3)

          gid use_cat      area  total_area  use_ratio
0  ë‹¤ì‚¬49aa19ab    ë…¹ì§€ì§€ì—­  0.007545    0.062546   0.120638
1  ë‹¤ì‚¬49aa19ba    ë…¹ì§€ì§€ì—­  0.001092    0.062546   0.017453
2  ë‹¤ì‚¬49aa20aa    ë…¹ì§€ì§€ì—­  0.000756    0.062546   0.012093

In [24]:
# ratio > 1 ê°’ ë³€í™˜
temp = area_con.groupby(['gid']).sum().reset_index()
temp = temp[temp['use_ratio'] > 1]
temp['sub_ratio'] = temp['use_ratio'] - 1
temp_dict = temp.set_index('gid').to_dict()['sub_ratio']
area_con['use_ratio'] = area_con.apply(lambda x : x['use_ratio'] - temp_dict[x['gid']] if x['gid'] in temp_dict.keys() and x['use_ratio'] > 1 else x['use_ratio'] ,axis=1)

In [25]:
area_con['use_cat'].unique()

array(['ë…¹ì§€ì§€ì—­', 'ì£¼ê±°ì§€ì—­', 'ìƒì—…ì§€ì—­', 'ê³µì—…ì§€ì—­'], dtype=object)

In [26]:
# gid ë³„ ìš©ë„ì§€ì—­ë„ ratio
temp_data = area_con[['gid','total_area']].drop_duplicates(subset='gid')
for i in area_con['use_cat'].unique() :
    temp_data[i+ '_use_ratio'] = 0
for i in range(len(area_con)) :
    temp_name = area_con.loc[i, 'use_cat']
    temp = temp_data[temp_data['gid']==area_con['gid'].iloc[i]]
    temp[temp_name] = area_con['use_ratio'].iloc[i]
    temp_data.loc[temp.index , temp_name+'_use_ratio'] = area_con[area_con['use_cat']==temp_name].loc[i, 'use_ratio']
temp_data.head(3)

,gid,total_area,ë…¹ì§€ì§€ì—­_use_ratio,ì£¼ê±°ì§€ì—­_use_ratio,ìƒì—…ì§€ì—­_use_ratio,ê³µì—…ì§€ì—­_use_ratio
0,ë‹¤ì‚¬49aa19ab,0.062546,0.120638,0.0,0.0,0.0
1,ë‹¤ì‚¬49aa19ba,0.062546,0.017453,0.0,0.0,0.0
2,ë‹¤ì‚¬49aa20aa,0.062546,0.012093,0.0,0.0,0.0

In [27]:
area_con_grid = temp_data.copy()
area_con_grid.sort_values(by='ë…¹ì§€ì§€ì—­_use_ratio', ascending=False).head(10)

,gid,total_area,ë…¹ì§€ì§€ì—­_use_ratio,ì£¼ê±°ì§€ì—­_use_ratio,ìƒì—…ì§€ì—­_use_ratio,ê³µì—…ì§€ì—­_use_ratio
1322,ë‹¤ì‚¬55ab25ba,0.062547,1.0,0.0,0.0,0.0
971,ë‹¤ì‚¬54ab18aa,0.062547,1.0,0.0,0.0,0.0
2169,ë‹¤ì‚¬58aa25bb,0.062547,1.0,0.0,0.0,0.0
3096,ë‹¤ì‚¬61ba20ab,0.062548,1.0,0.0,0.0,0.0
972,ë‹¤ì‚¬54ab18ab,0.062547,1.0,0.0,0.0,0.0
973,ë‹¤ì‚¬54ab18ba,0.062547,1.0,0.0,0.0,0.0
1464,ë‹¤ì‚¬56aa15ba,0.062547,1.0,0.0,0.0,0.0
2168,ë‹¤ì‚¬58aa25ba,0.062547,1.0,0.0,0.0,0.0
2167,ë‹¤ì‚¬58aa25ab,0.062547,1.0,0.0,0.0,0.0
2166,ë‹¤ì‚¬58aa25aa,0.062547,1.0,0.0,0.0,0.0

## <2> í† ì§€ì´ìš©ê³„íšë„

In [28]:
land_plan = gpd.read_file('./data/41.4ê°œì‹œë„_í† ì§€ì´ìš©ê³„íšë„.geojson')
land_plan['sgg_cd'] = land_plan['ZONECODE'].apply(lambda x: x[:5])
land_plan['sgg_cd'].unique()

array(['41111', '41115', '41113', '41463', '48110', '48120', '48160',
       '48190', '48170', '11200', '11260', '11350', '11305', '11320',
       '41310', '11380', '41281', '11440', '11470', '11500', '28245',
       '41210', '11530', '41190', '41197', '11620', '11650', '41290',
       '11680', '11710', '11740', '41450'], dtype=object)

In [29]:
land_plan_ = land_plan[land_plan['sgg_cd'].isin(['41111','41113', '41115', '41117'])] # ìˆ˜ì›
suwon_plan = gpd.overlay(land_plan_, suwon_grid, how='intersection')
suwon_plan.drop_duplicates(subset='geometry',inplace=True)
suwon_plan['area'] = gpd.GeoDataFrame(suwon_plan)['geometry'].to_crs({'init': 'epsg:6933'})\
               .map(lambda p: p.area / 10**6 ) 
suwon_plan.head(3)

,ORG_GID,BLOCKTYPE,BLOCKNAME,ZONECODE,ZONENAME,sgg_cd,gid,total_area,geometry,area
0,9104.0,ì™„ì¶©ë…¹ì§€,ì™„,41111KL1994002,ìˆ˜ì›ì²œì²œ2,41111,ë‹¤ì‚¬53ab22bb,0.062547,"POLYGON ((126.97332 37.30315, 126.97324 37.303...",0.001233
1,9922.0,í•™êµ,í•™,41111KL1994002,ìˆ˜ì›ì²œì²œ2,41111,ë‹¤ì‚¬53ab22bb,0.062547,"POLYGON ((126.97526 37.30372, 126.97509 37.303...",0.013156
2,13769.0,ë‹¨ë…ì£¼íƒ,ë‹¨ë…,41111KL1994002,ìˆ˜ì›ì²œì²œ2,41111,ë‹¤ì‚¬53ab22bb,0.062547,"POLYGON ((126.97367 37.30411, 126.97350 37.304...",0.001288

### ì´ìš©ê³„íšë„ ìš©ì§€ê°€ ìƒì„¸í•˜ê²Œ ë˜ì–´ ìˆì–´ì„œ(ì´147ì¢… !) í¸ì˜ìƒ ë¹„ìŠ·í•œ ìš©ì§€ ë¼ë¦¬ ë¬¶ì–´ì„œ ì¬ë¶„ë¥˜ í•´ ë³´ì•˜ë‹¤.
<sub>(ê° ì¹´í…Œê³ ë¦¬ì— í•´ë‹¹í•˜ëŠ” ê°’ì€ í•˜ë‹¨ ì½”ë“œì—ì„œ ì •ë¦¬)</sub>
1. <strong>ì£¼ê±°ìš©ì§€</strong>
2. <strong>ë…¹ì§€</strong> 
3. <strong>ê³µì›ìš©ì§€</strong> 
4. <strong>í•™êµìš©ì§€</strong> 
5. <strong>ë„ë¡œìš©ì§€</strong> 
6. <strong>ìƒì—…ìš©ì§€</strong> 
7. <strong>ê³µê³µìš©ì§€</strong>
8. <strong>ì—…ë¬´ìš©ì§€</strong>
9. <strong>ì‹œì„¤ìš©ì§€</strong>

In [30]:
# ì£¼ê±°ìš©ì§€ ë¶„ë¥˜
house_area = suwon_plan[suwon_plan['BLOCKTYPE'].isin(['ê³µë™ì£¼íƒ', 'ë‹¨ë…ì£¼íƒ', 'ë‹¨ë…ì£¼íƒê¸°íƒ€', 'ë„ì‹œí˜•ìƒí™œì£¼íƒìš©ì§€', 'ë‹¤ì„¸ëŒ€ì£¼íƒ', 'ì—°ë¦½ì£¼íƒ', 'ì•„íŒŒíŠ¸', 'ì•„íŒŒíŠ¸ê¸°íƒ€'])]
house_area['area_nm'] = 'ì£¼ê±°ìš©ì§€'
# ë…¹ì§€ ë¶„ë¥˜
green_area = suwon_plan[suwon_plan['BLOCKTYPE'].isin(['ì™„ì¶©ë…¹ì§€', 'ë…¹ì§€', 'ê²½ê´€ë…¹ì§€', 'ì—°ê²°ë…¹ì§€', 'ë…¹ì§€ê¸°íƒ€', 'ê³µì›ë…¹ì§€'])]
green_area['area_nm'] = 'ë…¹ì§€'
# ê³µì›ìš©ì§€ë¶„ë¥˜
park_area = suwon_plan[suwon_plan['BLOCKTYPE'].isin(['ê·¼ë¦°ê³µì›', 'ê³µì›', 'ì–´ë¦°ì´ê³µì›', 'ìˆ˜ë³€ê³µì›', 'ì†Œê³µì›', 'ë¬¸í™”ê³µì›', 'ì²´ìœ¡ê³µì›', 'ë„ì‹œìì—°ê³µì›',
       'ì—­ì‚¬ê³µì›', 'ê³µì›ë…¹ì§€', 'ê³µì›ê¸°íƒ€'])]
park_area['area_nm'] = 'ê³µì›ìš©ì§€'
# í•™êµìš©ì§€ë¶„ë¥˜
school_area  = suwon_plan[suwon_plan['BLOCKTYPE'].isin(['í•™êµ', 'ê³ ë“±í•™êµ', 'ì´ˆë“±í•™êµ', 'ì¤‘í•™êµ', 'í•™êµê¸°íƒ€', 'êµìœ¡ì‹œì„¤', 'ì²­ì†Œë…„ìˆ˜ë ¨ì‹œì„¤'])]
school_area['area_nm'] = 'í•™êµìš©ì§€'
# ë„ë¡œìš©ì§€ë¶„ë¥˜
load_area = suwon_plan[suwon_plan['BLOCKTYPE'].isin(['ìì „ê±°ì „ìš©ë„ë¡œ', 'ë³´í–‰ìì „ìš©ë„ë¡œ', 'ë„ë¡œ'])]
load_area['area_nm'] = 'ë„ë¡œìš©ì§€'
# ìƒì—…ìš©ì§€ë¶„ë¥˜
comm_area = suwon_plan[suwon_plan['BLOCKTYPE'].isin(['ìƒì—…ìš©ì§€', 'ìƒì—…ì‹œì„¤', 'ê·¼ë¦°ìƒì—…', 'ì¼ë°˜ìƒì—…', 'ì¤‘ì‹¬ìƒì—…', 'ìˆ™ë°•ì‹œì„¤', 'ìˆ™ë°•ì‹œì„¤ê¸°íƒ€', 'íŒë§¤ë°ì˜ì—…ì‹œì„¤', 'ì¢…í•©ì˜ë£Œì‹œì„¤'])]
comm_area['area_nm'] = 'ìƒì—…ìš©ì§€'
# ê³µê³µìš©ì§€ë¶„ë¥˜
public_area = suwon_plan[suwon_plan['BLOCKTYPE'].isin(['ê³µê³µì²­ì‚¬', 'ê³µê³µê³µì§€', 'ê³µê³µê³µì§€ê¸°íƒ€', 'ê³µê³µë¬¸í™”ì²´ìœ¡ê¸°íƒ€', 'ì´ì „ê³µê³µê¸°ê´€', 'ê·¼ë¦°ê³µê³µì‹œì„¤', 'ê³µê³µë³´ìœ¡ì‹œì„¤',
       'ê³µê³µì²­ì‚¬ê¸°íƒ€', 'ì‚¬íšŒë³µì§€ì‹œì„¤', 'ì‚¬íšŒë³µì§€ì‹œì„¤ê¸°íƒ€'])]
comm_area['area_nm'] = 'ê³µê³µìš©ì§€'
# ì—…ë¬´,ì‚°ì—…,ê³µì—…ìš©ì§€ë¶„ë¥˜
business_area = suwon_plan[suwon_plan['BLOCKTYPE'].isin(['ì—…ë¬´ì‹œì„¤', 'ìœ í†µì—…ë¬´ì‹œì„¤', 'ì‚°ì—…ìš©ì§€', 'ì‚°ì—…ì‹œì„¤ê¸°íƒ€', 'ë²¤ì²˜ë°ê³µì—…ìš©ì§€'])]
business_area['area_nm'] = 'ì—…ë¬´ìš©ì§€'
# ì‹œì„¤ìš©ì§€ë¶„ë¥˜
facility_area = suwon_plan[suwon_plan['BLOCKTYPE'].isin(['ìœ ìˆ˜ì‹œì„¤', 'ìì›ì¬í™œìš©ì‹œì„¤','íê¸°ë¬¼ì²˜ë¦¬ì‹œì„¤','í•˜ìˆ˜ì¢…ë§ì²˜ë¦¬ì‹œì„¤','íìˆ˜ì¢…ë§ì²˜ë¦¬ì‹œì„¤',
       'ì—°êµ¬ì‹œì„¤ê¸°íƒ€', 'ì €ë¥˜ì‹œì„¤', 'ë°°ìˆ˜ì‹œì„¤', 'ìœ„í—˜ë¬¼ì €ì¥ë°ì²˜ë¦¬ì‹œì„¤', 'ë³€ì „ì‹œì„¤'])]
facility_area['area_nm'] = 'ì‹œì„¤ìš©ì§€'

In [31]:
plan_area = pd.concat([house_area, green_area, park_area, school_area, load_area, comm_area, public_area, business_area, facility_area])
plan_area_sum = plan_area.groupby(['gid','area_nm']).sum().reset_index()[['gid','area_nm', 'area']].rename(columns={'gid' : 'gid'})
plan_area_sum.head(3)

          gid area_nm      area
0  ë‹¤ì‚¬49bb19ba    ë„ë¡œìš©ì§€  0.000978
1  ë‹¤ì‚¬49bb19ba    í•™êµìš©ì§€  0.000246
2  ë‹¤ì‚¬49bb19bb    ê³µì›ìš©ì§€  0.003472

### ì´ ë©´ì  ëŒ€ë¹„ ìš©ë„ ë©´ì ì˜ ë¹„ìœ¨ì„ ì‚°ì •í•˜ì
- ê³„íšìš©ë„ë©´ì  ë¹„ìœ¨(plan_area_ratio) => ê³„íšìš©ë„ë³„ ë©´ì (total_area) / ê³„íšìš©ë„ì§€ì—­ì „ì²´ë©´ì (plan_total_area) ìœ¼ë¡œ ê³„ì‚°

In [32]:
plan_area_total = plan_area.groupby(['gid']).sum().reset_index()[['gid','area']].rename(columns={'gid' : 'gid', 'area' : 'plan_total_area' })
plan_area_total_df = pd.merge(plan_area_total, plan_area_sum, how='outer')
plan_area_total_df.dropna(subset=['area_nm'] , inplace=True)
plan_area_total_df['plan_total_area'].fillna(0, inplace=True)
plan_area_total_df['plan_area_ratio'] = plan_area_total_df['area'] / plan_area_total_df['plan_total_area']  * 100
plan_area_total_df['plan_area_ratio'].fillna(0, inplace=True)
plan_area_total_df.head()

          gid  plan_total_area area_nm      area  plan_area_ratio
0  ë‹¤ì‚¬49bb19ba         0.001224    ë„ë¡œìš©ì§€  0.000978        79.890911
1  ë‹¤ì‚¬49bb19ba         0.001224    í•™êµìš©ì§€  0.000246        20.109089
2  ë‹¤ì‚¬49bb19bb         0.024850    ê³µì›ìš©ì§€  0.003472        13.969839
3  ë‹¤ì‚¬49bb19bb         0.024850    ë„ë¡œìš©ì§€  0.005074        20.417193
4  ë‹¤ì‚¬49bb19bb         0.024850    í•™êµìš©ì§€  0.014544        58.526908

In [33]:
temp_data = plan_area_total_df[['gid','plan_total_area']].drop_duplicates(subset='gid')
for i in plan_area_total_df['area_nm'].unique() :
    temp_data[i+ '_plan_use_ratio'] = 0
temp_data.head(3)

,gid,plan_total_area,ë„ë¡œìš©ì§€_plan_use_ratio,í•™êµìš©ì§€_plan_use_ratio,ê³µì›ìš©ì§€_plan_use_ratio,ë…¹ì§€_plan_use_ratio,ì£¼ê±°ìš©ì§€_plan_use_ratio,ê³µê³µìš©ì§€_plan_use_ratio,ì—…ë¬´ìš©ì§€_plan_use_ratio,ì‹œì„¤ìš©ì§€_plan_use_ratio
0,ë‹¤ì‚¬49bb19ba,0.001224,0,0,0,0,0,0,0,0
2,ë‹¤ì‚¬49bb19bb,0.024850,0,0,0,0,0,0,0,0
5,ë‹¤ì‚¬50aa18bb,0.002017,0,0,0,0,0,0,0,0

In [34]:
temp_data.reset_index(drop=True, inplace=True)
plan_area_total_df.reset_index(drop=True, inplace=True)
for i in range(len(plan_area_total_df)) :
    temp_name = plan_area_total_df.loc[i, 'area_nm']
    temp = temp_data[temp_data['gid']==plan_area_total_df['gid'].iloc[i]]
    temp[temp_name] = plan_area_total_df['plan_area_ratio'].iloc[i]
    temp_data.loc[temp.index , temp_name+'_plan_use_ratio'] = plan_area_total_df[plan_area_total_df['area_nm']==temp_name].loc[i, 'plan_area_ratio']
temp_data.head(3)

,gid,plan_total_area,ë„ë¡œìš©ì§€_plan_use_ratio,í•™êµìš©ì§€_plan_use_ratio,ê³µì›ìš©ì§€_plan_use_ratio,ë…¹ì§€_plan_use_ratio,ì£¼ê±°ìš©ì§€_plan_use_ratio,ê³µê³µìš©ì§€_plan_use_ratio,ì—…ë¬´ìš©ì§€_plan_use_ratio,ì‹œì„¤ìš©ì§€_plan_use_ratio
0,ë‹¤ì‚¬49bb19ba,0.001224,79.890911,20.109089,0.000000,0.0,0.0,0.0,0.0,0.0
1,ë‹¤ì‚¬49bb19bb,0.024850,20.417193,58.526908,13.969839,0.0,0.0,0.0,0.0,0.0
2,ë‹¤ì‚¬50aa18bb,0.002017,100.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0

In [35]:
plan_use_grid = temp_data.copy()

## <3> ì£¼íƒë…¸í›„ë„

In [36]:
house_old_con = gpd.read_file('./data/7.4ê°œì‹œë„_ì£¼íƒë…¸í›„ë„.geojson')
house_old_con.head()

,ORG_GID,BLD_NM,DONG_NM,PNU,STRCT_NM,USE_NM,USEAPR_DAY,OLD_YEAR,OLD_LEVEL,geometry
0,704627.0,None,None,1111017500107040000,ê¸°íƒ€ê°•êµ¬ì¡°,ë‹¨ë…ì£¼íƒ,19910902,30.0,4.0,"MULTIPOLYGON (((127.02166 37.57731, 127.02165 ..."
1,704628.0,None,None,1111017500100560024,ë²½ëŒêµ¬ì¡°,ë‹¨ë…ì£¼íƒ,19670528,54.0,4.0,"MULTIPOLYGON (((127.01600 37.57725, 127.01596 ..."
2,704629.0,None,None,1111017500100560054,ë²½ëŒêµ¬ì¡°,ë‹¨ë…ì£¼íƒ,19621221,58.0,4.0,"MULTIPOLYGON (((127.01633 37.57723, 127.01633 ..."
3,704630.0,None,None,1111017500100560053,ë²½ëŒêµ¬ì¡°,ë‹¨ë…ì£¼íƒ,19790601,42.0,4.0,"MULTIPOLYGON (((127.01651 37.57717, 127.01646 ..."
4,704632.0,None,None,1111016500100280041,ì² ê·¼ì½˜í¬ë¦¬íŠ¸êµ¬ì¡°,ì œ2ì¢…ê·¼ë¦°ìƒí™œì‹œì„¤,19940425,27.0,3.0,"MULTIPOLYGON (((127.00532 37.57728, 127.00534 ..."

In [37]:
# ë²•ì •ë™ì½”ë“œ ë§¤ì¹­
dong_cd = pd.read_excel('./data/í–‰ì •êµ¬ì—­ì½”ë“œ(ë²•ì •ë™ì½”ë“œ).xls')
house_old_con['ë²•ì •ë™ì½”ë“œ'] = house_old_con['PNU'].apply(lambda x : int(x[:10]))
house_old_df = pd.merge(dong_cd[['ë²•ì •ë™ì½”ë“œ','ë²•ì •ë™ëª…']], house_old_con)
house_old_df.head(2)

,ë²•ì •ë™ì½”ë“œ,ë²•ì •ë™ëª…,ORG_GID,BLD_NM,DONG_NM,PNU,STRCT_NM,USE_NM,USEAPR_DAY,OLD_YEAR,OLD_LEVEL,geometry
0,1111010100,ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì²­ìš´ë™,706700.0,None,None,1111010100100550014,ë²½ëŒêµ¬ì¡°,ì œ2ì¢…ê·¼ë¦°ìƒí™œì‹œì„¤,19890919,31.0,4.0,"MULTIPOLYGON (((126.96626 37.58669, 126.96616 ..."
1,1111010100,ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì²­ìš´ë™,725027.0,None,None,1111010100100890015,ì² ê·¼ì½˜í¬ë¦¬íŠ¸êµ¬ì¡°,ë‹¨ë…ì£¼íƒ,19970820,24.0,3.0,"MULTIPOLYGON (((126.97198 37.58599, 126.97209 ..."

In [38]:
house_old_df['sgg_nm'] = house_old_df['ë²•ì •ë™ëª…'].apply(lambda x: x.split(' ')[1])
house_old_df['sgg_nm'].unique()

array(['ì¢…ë¡œêµ¬', 'ì¤‘êµ¬', 'ìš©ì‚°êµ¬', 'ì„±ë™êµ¬', 'ê´‘ì§„êµ¬', 'ë™ëŒ€ë¬¸êµ¬', 'ì¤‘ë‘êµ¬', 'ì„±ë¶êµ¬', 'ê°•ë¶êµ¬',
       'ë„ë´‰êµ¬', 'ë…¸ì›êµ¬', 'ì€í‰êµ¬', 'ì„œëŒ€ë¬¸êµ¬', 'ë§ˆí¬êµ¬', 'ì–‘ì²œêµ¬', 'ê°•ì„œêµ¬', 'êµ¬ë¡œêµ¬', 'ê¸ˆì²œêµ¬',
       'ì˜ë“±í¬êµ¬', 'ë™ì‘êµ¬', 'ê´€ì•…êµ¬', 'ì„œì´ˆêµ¬', 'ê°•ë‚¨êµ¬', 'ì†¡íŒŒêµ¬', 'ê°•ë™êµ¬', 'ìˆ˜ì›ì‹œ', 'ì°½ì›ì‹œ',
       'ì§„ì£¼ì‹œ'], dtype=object)

In [39]:
suwon_house_old = house_old_df[house_old_df['sgg_nm']=='ìˆ˜ì›ì‹œ']
suwon_house_old = gpd.GeoDataFrame(suwon_house_old, crs='epsg:4326')
suwon_house_grid = gpd.overlay(suwon_house_old, suwon_grid, how='intersection')
suwon_house_grid.drop_duplicates(inplace=True, subset=['geometry'])
# ê²©ì(gid)ì™€ ì£¼íƒë…¸í›„ë„ ë°ì´í„° ë§¤ì¹­
suwon_house_grid['area'] = suwon_house_grid['geometry'].to_crs({'init': 'epsg:6933'})\
               .map(lambda p: p.area / 10**6 ) 
suwon_house_grid['geometry'] = suwon_house_grid.centroid
suwon_house_grid.head(3)

,ë²•ì •ë™ì½”ë“œ,ë²•ì •ë™ëª…,ORG_GID,BLD_NM,DONG_NM,PNU,STRCT_NM,USE_NM,USEAPR_DAY,OLD_YEAR,OLD_LEVEL,sgg_nm,gid,total_area,geometry,area
0,4111112900,ê²½ê¸°ë„ ìˆ˜ì›ì‹œ ì¥ì•ˆêµ¬ íŒŒì¥ë™,3217821.0,ìŒìš©ë¹Œë¼,None,4111112900102030009,ë²½ëŒêµ¬ì¡°,ê³µë™ì£¼íƒ,19910329,30.0,4.0,ìˆ˜ì›ì‹œ,ë‹¤ì‚¬55ab23ba,0.062547,POINT (126.99512 37.31140),0.000117
1,4111112900,ê²½ê¸°ë„ ìˆ˜ì›ì‹œ ì¥ì•ˆêµ¬ íŒŒì¥ë™,3223690.0,ì²­êµ¬ë¹Œë¼,None,4111112900103850004,ë²½ëŒêµ¬ì¡°,ê³µë™ì£¼íƒ,19901110,30.0,4.0,ìˆ˜ì›ì‹œ,ë‹¤ì‚¬55ab23ba,0.062547,POINT (126.99782 37.30990),0.000001
2,4111112900,ê²½ê¸°ë„ ìˆ˜ì›ì‹œ ì¥ì•ˆêµ¬ íŒŒì¥ë™,3226693.0,None,None,4111112900102740000,ì¼ë°˜ì² ê³¨êµ¬ì¡°,ë…¸ìœ ìì‹œì„¤,20030630,18.0,2.0,ìˆ˜ì›ì‹œ,ë‹¤ì‚¬55ab23ba,0.062547,POINT (126.99610 37.30996),0.000172

### ì£¼íƒë…¸í›„ë„ levelë³„ area êµ¬í•˜ê¸°
#### ì‹œ,êµ°,êµ¬ ë³„ old_level(1~4ë‹¨ê³„)ì— ëŒ€í•œ ì´ ë©´ì ì„ ì‚°ì¶œí•©ë‹ˆë‹¤.

In [40]:
old_level_sum = suwon_house_grid.groupby(['gid','OLD_LEVEL']).sum().reset_index()[['gid','OLD_LEVEL','area']]
old_level_sum.head()

          gid  OLD_LEVEL      area
0  ë‹¤ì‚¬49ba19ba        3.0  0.000914
1  ë‹¤ì‚¬49ba19bb        3.0  0.000555
2  ë‹¤ì‚¬49ba19bb        4.0  0.000096
3  ë‹¤ì‚¬49ba20ab        4.0  0.000188
4  ë‹¤ì‚¬49ba20ba        4.0  0.000012

In [41]:
old_level_sum['gid'].nunique()

1355

In [42]:
temp_data = old_level_sum[['gid']].drop_duplicates()
for i in old_level_sum['OLD_LEVEL'].unique() :
    temp_data['area_old_level_'+str(i)[0]] = 0
for i in range(len(old_level_sum)) :
    temp_name = old_level_sum.loc[i, 'OLD_LEVEL']
    temp = temp_data[temp_data['gid']==old_level_sum['gid'].iloc[i]]
    temp[temp_name] = old_level_sum['area'].iloc[i]
    temp_data.loc[temp.index , 'area_old_level_'+str(temp_name)[0]] = old_level_sum[old_level_sum['OLD_LEVEL']==temp_name].loc[i, 'area']
temp_data.head(3)

,gid,area_old_level_3,area_old_level_4,area_old_level_1,area_old_level_2
0,ë‹¤ì‚¬49ba19ba,0.000914,0.000000,0.0,0.0
1,ë‹¤ì‚¬49ba19bb,0.000555,0.000096,0.0,0.0
3,ë‹¤ì‚¬49ba20ab,0.000000,0.000188,0.0,0.0

In [43]:
old_level_total = temp_data.copy()

### ì£¼íƒë…¸í›„ë…„ë„ í‰ê· 
#### ì‹œ,êµ°,êµ¬ ë³„ old_yearì˜ í‰ê· ì„ ì‚°ì¶œí•©ë‹ˆë‹¤.

In [44]:
old_year_mean = suwon_house_grid.groupby('gid').mean().reset_index()[['gid','OLD_YEAR']]
old_year_mean['OLD_YEAR'] = old_year_mean['OLD_YEAR'].apply(lambda x: round(x, 1))
old_year_mean.head()

          gid  OLD_YEAR
0  ë‹¤ì‚¬49ba19ba      21.8
1  ë‹¤ì‚¬49ba19bb      27.7
2  ë‹¤ì‚¬49ba20ab      31.0
3  ë‹¤ì‚¬49ba20ba      31.0
4  ë‹¤ì‚¬49bb18bb      15.7

### ìµœì¢…
#### ìƒë‹¨ì—ì„œ ì¶”ì¶œí•œ ì‹œ,êµ°,êµ¬ ë³„ OLD_YEAR í‰ê·  ë° old_level ë³„ ë©´ì  ì´ í•© ë°ì´í„°ë¥¼ Merge

In [45]:
house_total = pd.merge(old_year_mean, old_level_total, how='outer')
house_total.head(3)

,gid,OLD_YEAR,area_old_level_3,area_old_level_4,area_old_level_1,area_old_level_2
0,ë‹¤ì‚¬49ba19ba,21.8,0.000914,0.000000,0.0,0.0
1,ë‹¤ì‚¬49ba19bb,27.7,0.000555,0.000096,0.0,0.0
2,ë‹¤ì‚¬49ba20ab,31.0,0.000000,0.000188,0.0,0.0

# 4. ê²©ìë‹¨ìœ„ ì‹œì„¤ë¬¼ ë°ì´í„° ì „ì²˜ë¦¬
---
## ê²©ìë³„ ì‹œì„¤ë¬¼ íŠ¹ì„±ì„ ì¶”ì¶œ
- compasì—ì„œ ì œê³µëœ ë°ì´í„° ì¤‘ ì‹œì„¤ë¬¼ ì •ë³´ë¥¼ í¬í•¨í•œ ë°ì´í„°
- 22.ë³´ì•ˆë“±í˜„í™© / 23.ë¹„ìƒë²¨í˜„í™© / 24.cctvì„¤ì¹˜í˜„í™© / 27.ê³µì›í˜„í™©
- 42.í¸ì˜ì í˜„í™© / 40.ì–´ë¦°ì´ë†€ì´ì‹œì„¤í˜„í™© / 8. ìœ í¥ì—…ì†Œí˜„í™©

In [46]:
def geo_transform(DataFrame) :
    # csv to geopandas
    # lon, lat dataë¥¼ geometryë¡œ ë³€ê²½
    DataFrame['lat'] = DataFrame['lat'].astype(float)
    DataFrame['lon'] = DataFrame['lon'].astype(float)
    DataFrame['geometry'] = DataFrame.apply(lambda row : Point([row['lon'], row['lat']]), axis=1)
    DataFrame = gpd.GeoDataFrame(DataFrame, geometry='geometry')
    DataFrame.crs = {'init':'epsg:4326'}
    DataFrame = DataFrame.to_crs({'init':'epsg:4326'}) # ì¢Œí‘œê³„ epsg : 4326
    return DataFrame

In [47]:
slight_con = pd.read_csv('./data/22.4ê°œì‹œë„_ë³´ì•ˆë“±í˜„í™©.csv')
slight_con = geo_transform(slight_con)
bell_con = gpd.read_file('./data/23.4ê°œì‹œë„_ì•ˆì „ë¹„ìƒë²¨í˜„í™©.geojson')
# bell_con = geo_transform(bell_con)
cctv_con = pd.read_csv('./data/24.4ê°œì‹œë„_CCTVì„¤ì¹˜í˜„í™©.csv')
cctv_con = geo_transform(cctv_con)

In [48]:
play_con = pd.read_csv('./data/40.4ê°œì‹œë„_ì–´ë¦°ì´ë†€ì´ì‹œì„¤í˜„í™©.csv')
play_con = geo_transform(play_con)
park_con = pd.read_csv('./data/27.4ê°œì‹œë„_ê³µì›í˜„í™©.csv')
park_con = geo_transform(park_con)

In [49]:
conv_con = gpd.read_file('./data/42.4ê°œì‹œë„_í¸ì˜ì í˜„í™©.geojson')
pub_con = gpd.read_file('./data/8.4ê°œì‹œë„_ìœ í¥ì—…ì†Œí˜„í™©.geojson')

#### 1. ë³´ì•ˆë“±

In [50]:
slight_con['sido'] = slight_con['address'].apply(lambda x: x.split(' ')[0] if ' ' in str(x) else x)
slight_con = slight_con[slight_con['sido']=='ê²½ê¸°ë„']
len(slight_con)

13920

In [51]:
slight_grid = gpd.overlay(slight_con, suwon_grid, how='intersection')
# slight_grid.drop_duplicates(subset=['geometry'] , inplace=True)
# slight_grid.head(3)
slight_sum = slight_grid.groupby('gid').sum().reset_index()[['gid','securitylight_cnt']]
slight_sum.head(3)

          gid  securitylight_cnt
0  ë‹¤ì‚¬49ba21ab                  1
1  ë‹¤ì‚¬49bb18bb                  1
2  ë‹¤ì‚¬49bb19aa                  4

#### 2. ë¹„ìƒë²¨

In [52]:
bell_grid = gpd.overlay(bell_con, suwon_grid, how='intersection')
# bell_grid.drop_duplicates(subset=['geometry'] , inplace=True)
# slight_grid.head(3)
bell_sum = bell_grid.groupby('gid').count().reset_index()[['gid','bell_us']]
bell_sum.head(3)

          gid  bell_us
0  ë‹¤ì‚¬50aa19ba        1
1  ë‹¤ì‚¬50ba21ab        1
2  ë‹¤ì‚¬51ba17bb        1

#### 3. cctv

In [53]:
cctv_grid = gpd.overlay(cctv_con, suwon_grid, how='intersection')
# cctv_grid.drop_duplicates(subset=['geometry'] , inplace=True)
# slight_grid.head(3)
cctv_sum = cctv_grid.groupby('gid').sum().reset_index()[['gid','cctv_cnt']]
cctv_sum.head(3)

          gid  cctv_cnt
0  ë‹¤ì‚¬49ab19ab         4
1  ë‹¤ì‚¬49ba19ab         3
2  ë‹¤ì‚¬49ba19bb         2

In [54]:
# ë³´ì•ˆë“± ,ë¹„ìƒë²¨, cctv
temp = pd.merge(slight_sum, bell_sum, how='outer')
total1 = pd.merge(temp, cctv_sum, how='outer')
total1.fillna(0, inplace=True)
total1.head(3)

          gid  securitylight_cnt  bell_us  cctv_cnt
0  ë‹¤ì‚¬49ba21ab                1.0      0.0       0.0
1  ë‹¤ì‚¬49bb18bb                1.0      0.0       0.0
2  ë‹¤ì‚¬49bb19aa                4.0      0.0       4.0

#### 4. ì–´ë¦°ì´ë†€ì´ì‹œì„¤

In [55]:
play_grid = gpd.overlay(play_con, suwon_grid, how='intersection')
# play_grid.drop_duplicates(subset=['geometry'] , inplace=True)
play_grid = play_grid.rename(columns={'fac_no' : 'play_cnt'})
# slight_grid.head(3)
play_sum = play_grid.groupby('gid').count().reset_index()[['gid','play_cnt']]
play_sum.head(3)

          gid  play_cnt
0  ë‹¤ì‚¬49bb19ba         2
1  ë‹¤ì‚¬50aa19aa         3
2  ë‹¤ì‚¬50aa19ab         2

#### 5. ê³µì›

In [56]:
park_grid = gpd.overlay(park_con, suwon_grid, how='intersection')
# park_grid.drop_duplicates(subset=['geometry'] , inplace=True)
park_grid = park_grid.rename(columns={'park_nm' : 'park_cnt'})
# slight_grid.head(3)
park_sum = park_grid.groupby('gid').count().reset_index()[['gid','park_cnt']]
park_sum.head(3)

          gid  park_cnt
0  ë‹¤ì‚¬49bb21ba         1
1  ë‹¤ì‚¬50aa19ba         1
2  ë‹¤ì‚¬50aa19bb         1

In [57]:
total2 = pd.merge(play_sum, park_sum, how='outer')
total2.fillna(0, inplace=True)

#### 6. í¸ì˜ì

In [58]:
conv_grid = gpd.overlay(conv_con, suwon_grid, how='intersection')
# conv_grid.drop_duplicates(subset=['geometry'] , inplace=True)
conv_grid = conv_grid.rename(columns={'STORE_ID' : 'conv_cnt'})
# slight_grid.head(3)
conv_sum = conv_grid.groupby('gid').count().reset_index()[['gid','conv_cnt']]
conv_sum.head(3)

          gid  conv_cnt
0  ë‹¤ì‚¬50aa19aa         2
1  ë‹¤ì‚¬50aa19bb         3
2  ë‹¤ì‚¬50aa21ba         2

#### 7. ìœ í¥ì—…ì†Œ

In [59]:
pub_grid = gpd.overlay(pub_con, suwon_grid, how='intersection')
# pub_grid.drop_duplicates(subset=['geometry'] , inplace=True)
pub_grid = pub_grid.rename(columns={'STORE_ID' : 'pub_cnt'})
# slight_grid.head(3)
pub_sum = pub_grid.groupby('gid').count().reset_index()[['gid','pub_cnt']]
pub_sum.head(3)

          gid  pub_cnt
0  ë‹¤ì‚¬50ab21ba        1
1  ë‹¤ì‚¬50ba21ba        1
2  ë‹¤ì‚¬51ab19ba        2

In [60]:
total3 = pd.merge(conv_sum, pub_sum, how='outer')
total3.fillna(0, inplace=True)

#### 8. ì¢…í•©

In [61]:
temp = pd.merge(total1, total2, how='outer')
facility_grid = pd.merge(temp, total3, how='outer')
facility_grid.fillna(0, inplace=True)
facility_grid.head(3)

,gid,securitylight_cnt,bell_us,cctv_cnt,play_cnt,park_cnt,conv_cnt,pub_cnt
0,ë‹¤ì‚¬49ba21ab,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ë‹¤ì‚¬49bb18bb,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ë‹¤ì‚¬49bb19aa,4.0,0.0,4.0,0.0,0.0,0.0,0.0

In [62]:
facility_grid_ = pd.merge(facility_grid, suwon_grid, how='outer')
facility_grid_.fillna(0, inplace=True)
facility_grid_ = facility_grid_.rename(columns={'bell_us' : 'bell_cnt'})

In [63]:
## -- ë°€ë„ : ì‹œì„¤ ìˆ˜ / ë©´ì (km2)
facility_grid_['cctvë°€ë„'] = facility_grid_['cctv_cnt'] / facility_grid_['total_area']
facility_grid_['ë³´ì•ˆë“±ë°€ë„'] = facility_grid_['bell_cnt'] / facility_grid_['total_area']
facility_grid_['ìœ í¥ì—…ì†Œë°€ë„'] = facility_grid_['pub_cnt'] / facility_grid_['total_area']
facility_grid_['í¸ì˜ì ë°€ë„'] = facility_grid_['conv_cnt'] / facility_grid_['total_area']
facility_grid_['ê³µì›ë°ë†€ì´ì‹œì„¤ë°€ë„'] = (facility_grid_['park_cnt'] + facility_grid_['play_cnt']) / facility_grid_['total_area']
facility_grid_.fillna(0, inplace=True)
facility_grid_.head(3)

,gid,securitylight_cnt,bell_cnt,cctv_cnt,play_cnt,park_cnt,conv_cnt,pub_cnt,geometry,total_area,cctvë°€ë„,ë³´ì•ˆë“±ë°€ë„,ìœ í¥ì—…ì†Œë°€ë„,í¸ì˜ì ë°€ë„,ê³µì›ë°ë†€ì´ì‹œì„¤ë°€ë„
0,ë‹¤ì‚¬49ba21ab,1.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((126.93027 37.28882, 126.93026 ...",0.062546,0.00000,0.0,0.0,0.0,0.0
1,ë‹¤ì‚¬49bb18bb,1.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((126.93326 37.26630, 126.93324 ...",0.062546,0.00000,0.0,0.0,0.0,0.0
2,ë‹¤ì‚¬49bb19aa,4.0,0.0,4.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((126.93324 37.26855, 126.93323 ...",0.062546,63.95277,0.0,0.0,0.0,0.0

## 5. í™”ì¬ë°œìƒ, ìì‚´ìœ¨

In [64]:
fire_sui_con = pd.read_csv('./data/4ê°œì‹œêµ°êµ¬_ìì‚´ìœ¨_í™”ì¬ë°œìƒí†µê³„.csv')
del fire_sui_con['Unnamed: 0']
suwon_fire_sui_con =  fire_sui_con[fire_sui_con['sgg_nm'].isin(['ìˆ˜ì›ì‹œ','ê¶Œì„ êµ¬','ì˜í†µêµ¬','ì¥ì•ˆêµ¬','íŒ”ë‹¬êµ¬'])]
suwon_fire_sui_con.head()

  sgg_nm  acc_num  tot_vic_num  total_dmg sido  ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨
0    ìˆ˜ì›ì‹œ      547           30    9354298  ê²½ê¸°ë„        24.9
2    ê¶Œì„ êµ¬      166            6    3031434  ê²½ê¸°ë„        25.3
3    ì˜í†µêµ¬      122            4    3334068  ê²½ê¸°ë„        17.7
4    ì¥ì•ˆêµ¬      145            8    1276466  ê²½ê¸°ë„        23.0
5    íŒ”ë‹¬êµ¬      114           12    1712330  ê²½ê¸°ë„        33.6

In [65]:
suwon_fire_sui_con['sgg_nm'].unique()
suwon_area['sgg_nm'] = suwon_area['SGG_NM'].apply(lambda x: x.replace('ìˆ˜ì›ì‹œ', ''))

In [66]:
suwon_ = pd.merge(suwon_fire_sui_con, suwon_area[['sgg_nm','geometry']])
suwon_ = gpd.GeoDataFrame(suwon_, crs='epsg:4326')
fire_sui_grid = gpd.overlay(suwon_, suwon_grid, how='intersection')
fire_sui_grid.drop_duplicates(subset=['gid'], inplace=True)

In [67]:
gid_cnt = fire_sui_grid.groupby('sgg_nm').count().reset_index()[['sgg_nm','acc_num']].rename(columns={'acc_num' : 'gid_cnt'})

In [68]:
fire_sui_grid_ = pd.merge(fire_sui_grid ,gid_cnt)
grid_merge_ = pd.merge(fire_sui_grid_.drop(['geometry'], axis=1), report_pop, on ='gid')
# grid_merge_[['sgg_nm','gid', 'acc_num', 'tot_vic_num', 'total_dmg','total_cnt']]

In [69]:
# ì‹œêµ°êµ¬ë³„ ê²©ì 1ë‹¹ ì‹ ê³ ìˆ˜ ë¹„ìœ¨
sgg_total = grid_merge_.groupby('sgg_nm').sum()[['total_cnt', 'total_pop']].reset_index()
sgg_total.columns = ['sgg_nm' , 'sgg_total_cnt', 'sgg_total_pop']
sgg_grid_merge = pd.merge(grid_merge_[['sgg_nm','gid', 'acc_num', 'tot_vic_num', 'total_dmg','total_cnt','ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨']], sgg_total)

In [70]:
sgg_grid_merge['grid_sgg_ratio'] =  sgg_grid_merge['total_cnt'] / sgg_grid_merge['sgg_total_cnt'] * 100
sgg_grid_merge.head(3)

,sgg_nm,gid,acc_num,tot_vic_num,total_dmg,total_cnt,ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨,sgg_total_cnt,sgg_total_pop,grid_sgg_ratio
0,ê¶Œì„ êµ¬,ë‹¤ì‚¬49aa19ab,166,6,3031434,0.0,25.3,76415.0,326743.0,0.0
1,ê¶Œì„ êµ¬,ë‹¤ì‚¬49aa19ba,166,6,3031434,0.0,25.3,76415.0,326743.0,0.0
2,ê¶Œì„ êµ¬,ë‹¤ì‚¬49aa20aa,166,6,3031434,0.0,25.3,76415.0,326743.0,0.0

In [71]:
sgg_grid_merge['acc_num'] = sgg_grid_merge['acc_num'] * sgg_grid_merge['grid_sgg_ratio']
sgg_grid_merge['tot_vic_num'] = sgg_grid_merge['tot_vic_num'] * sgg_grid_merge['grid_sgg_ratio']
sgg_grid_merge['total_dmg'] = sgg_grid_merge['total_dmg'] * sgg_grid_merge['grid_sgg_ratio']
sgg_grid_merge.head()

,sgg_nm,gid,acc_num,tot_vic_num,total_dmg,total_cnt,ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨,sgg_total_cnt,sgg_total_pop,grid_sgg_ratio
0,ê¶Œì„ êµ¬,ë‹¤ì‚¬49aa19ab,0.0,0.0,0.0,0.0,25.3,76415.0,326743.0,0.0
1,ê¶Œì„ êµ¬,ë‹¤ì‚¬49aa19ba,0.0,0.0,0.0,0.0,25.3,76415.0,326743.0,0.0
2,ê¶Œì„ êµ¬,ë‹¤ì‚¬49aa20aa,0.0,0.0,0.0,0.0,25.3,76415.0,326743.0,0.0
3,ê¶Œì„ êµ¬,ë‹¤ì‚¬49ab18ab,0.0,0.0,0.0,0.0,25.3,76415.0,326743.0,0.0
4,ê¶Œì„ êµ¬,ë‹¤ì‚¬49ab18ba,0.0,0.0,0.0,0.0,25.3,76415.0,326743.0,0.0

In [72]:
pd.options.display.float_format = '{:.5f}'.format

In [73]:
fire_sui_grid.columns

Index(['sgg_nm', 'acc_num', 'tot_vic_num', 'total_dmg', 'sido', 'ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨',
       'gid', 'total_area', 'geometry'],
      dtype='object')

In [74]:
# ê²©ìë³„ 112 ì‹ ê³ ìˆ˜ ë¹„ìœ¨ì— ë”°ë¥¸ í™”ì¬ë°œìƒìœ¨, ì¸êµ¬ 10ë§Œëª…ë‹¹ìì‚´ìœ¨
fire_sui_grid_ = sgg_grid_merge[['gid','acc_num','tot_vic_num', 'total_dmg', 'ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨']]
fire_sui_grid_.head(3)

          gid  acc_num  tot_vic_num  total_dmg  ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨
0  ë‹¤ì‚¬49aa19ab  0.00000      0.00000    0.00000    25.30000
1  ë‹¤ì‚¬49aa19ba  0.00000      0.00000    0.00000    25.30000
2  ë‹¤ì‚¬49aa20aa  0.00000      0.00000    0.00000    25.30000

## 6. ê´€í• ì„œ, ê´€í• ì„œì˜ì—­

In [75]:
police_con = pd.read_csv('./data/39.4ê°œì‹œë„_ê²½ì°°ê´€ì„œí˜„í™©.csv')
police_con = geo_transform(police_con)
police_border = gpd.read_file('./data/11.4ê°œì‹œë„_ê²½ì°°ì„œ_ê´€í• ê²½ê³„.geojson')

In [76]:
grid_police_con = gpd.overlay(police_con, suwon_grid, how='intersection')
grid_police_con.head()

,pname,psname,name,lon,lat,addr,gid,total_area,geometry
0,ê²½ê¸°ë‚¨ë¶€ì²­,ìˆ˜ì›ë‚¨ë¶€ê²½ì°°ì„œ,ê³¡ì„ ì§€êµ¬ëŒ€,127.03004,37.25180,ê¶Œì„ êµ¬ ê¶Œì„ ë™ 1268-5,ë‹¤ì‚¬58ab17aa,0.06255,POINT (127.03004 37.25180)
1,ê²½ê¸°ë‚¨ë¶€ì²­,ìˆ˜ì›ë‚¨ë¶€ê²½ì°°ì„œ,ê´‘êµíŒŒì¶œì†Œ,127.04771,37.28956,ê²½ê¸°ë„ ìˆ˜ì›ì‹œ ì˜í†µêµ¬ ì´ì˜ë™ 1347-2,ë‹¤ì‚¬59bb21ab,0.06255,POINT (127.04771 37.28956)
2,ê²½ê¸°ë‚¨ë¶€ì²­,ìˆ˜ì›ë‚¨ë¶€ê²½ì°°ì„œ,ê¶Œì„ íŒŒì¶œì†Œ,127.02629,37.26075,ê¶Œì„ êµ¬ ê¶Œì„ ë™1012,ë‹¤ì‚¬57bb18aa,0.06255,POINT (127.02629 37.26075)
3,ê²½ê¸°ë‚¨ë¶€ì²­,ìˆ˜ì›ë‚¨ë¶€ê²½ì°°ì„œ,ë§¤íƒ„ì§€êµ¬ëŒ€,127.04000,37.26516,íŒ”ë‹¬êµ¬ ì¸ê³„ë™ 1117,ë‹¤ì‚¬59aa18ba,0.06255,POINT (127.04000 37.26516)
4,ê²½ê¸°ë‚¨ë¶€ì²­,ìˆ˜ì›ë‚¨ë¶€ê²½ì°°ì„œ,ì‚°ë‚¨ì§€êµ¬ëŒ€,127.05303,37.26866,ì˜í†µêµ¬ ë§¤íƒ„ë™ 1213-2,ë‹¤ì‚¬60ab18bb,0.06255,POINT (127.05303 37.26866)

### ê²©ì ê¸°ì¤€ íŒŒì¶œì†Œ ì˜ì—­ ë°– ë©´ì  êµ¬í•˜ê¸°
2020ë…„ ë³´ë„ëœ í•œ ë‰´ìŠ¤ ê¸°ì‚¬ì— ë”°ë¥´ë©´(<a href="https://www.pressian.com/pages/articles/2020100811011343168#0DKU">ê¸°ì‚¬ì°¸ì¡°ë§í¬</a>) ì§€ë°©ì²­ë³„ í‰ê·  ì¶œë™ì‹œê°„ì€ 
3~ 6ë¶„ ë‚´ì™¸ì¸ê²ƒìœ¼ë¡œ ë“œëŸ¬ë‚¨. ë”°ë¼ì„œ 6ë¶„ ì´ë‚´ì— ì¶œë™ í•  ìˆ˜ ìˆëŠ” ì•½ 1km ë°˜ê²½ì„ íŒŒì¶œì†Œ ì˜ì—­ìœ¼ë¡œ ì·¨ê¸‰í•˜ê³ , íŒŒì¶œì†Œ ì˜ì—­ì„ ë²—ì–´ë‚œ areaì˜
ë©´ì ì„ ì—°ì‚°í•˜ì—¬ êµ¬í•´ë³¸ë‹¤.

In [77]:
buf_poly = gpd.GeoDataFrame({'geometry': grid_police_con.buffer(0.015)}, crs='epsg:4326')
origin_ = suwon_grid.groupby(['gid']).apply(lambda x : x.area.sum())
print(origin_)
dif_area = gpd.overlay(suwon_grid, buf_poly, how='difference')
dif_area = dif_area.dissolve(by='gid')
print(dif_area)
dif_area.reset_index(inplace=True)


# ax = dif_area.plot(column='NAME', figsize=(8,8), alpha=0.8)
# ax.set_title("total - Police Buffer", fontsize=20)
# ax.set_axis_off()
# plt.show()

dif_area = dif_area.dissolve(by='gid')
print("ì „ì²´ ëŒ€ë¹„ ë¯¸ì»¤ë²„ì§€ì—­ ë¹„ìœ¨")
print(round(dif_area.area / origin_ * 100))

gid
ë‹¤ì‚¬49aa19ab   0.00001
ë‹¤ì‚¬49aa19ba   0.00001
ë‹¤ì‚¬49aa20aa   0.00001
ë‹¤ì‚¬49ab18ab   0.00001
ë‹¤ì‚¬49ab18ba   0.00001
               ...
ë‹¤ì‚¬63ba21aa   0.00001
ë‹¤ì‚¬63ba21ab   0.00001
ë‹¤ì‚¬63ba21ba   0.00001
ë‹¤ì‚¬63ba21bb   0.00001
ë‹¤ì‚¬63ba22aa   0.00001
Length: 2090, dtype: float64
                                                     geometry  total_area
gid
ë‹¤ì‚¬49aa19ab  POLYGON ((126.92477 37.27077, 126.92475 37.273...     0.06255
ë‹¤ì‚¬49aa19ba  POLYGON ((126.92475 37.27302, 126.92473 37.275...     0.06255
ë‹¤ì‚¬49aa20aa  POLYGON ((126.92472 37.27753, 126.92470 37.279...     0.06255
ë‹¤ì‚¬49ab18ab  POLYGON ((126.92766 37.26177, 126.92764 37.264...     0.06255
ë‹¤ì‚¬49ab18ba  POLYGON ((126.92764 37.26402, 126.92762 37.266...     0.06255
...                                                       ...         ...
ë‹¤ì‚¬63ba21aa  POLYGON ((127.08822 37.28722, 127.08821 37.289...     0.06255
ë‹¤ì‚¬63ba21ab  POLYGON ((127.08821 37.28947, 127.08820 37.291...     0.06255
ë‹¤ì‚¬63ba21ba  POLYGON ((127.08820 37.29173, 127.08819 37.293...     0.06255
ë‹¤ì‚¬63ba21bb  POLYGON ((127.08819 37.29398, 127.08818 37.296...     0.06255
ë‹¤ì‚¬63ba22aa  POLYGON ((127.08818 37.29624, 127.08816 37.298...     0.06255

[728 rows x 2 columns]
ì „ì²´ ëŒ€ë¹„ ë¯¸ì»¤ë²„ì§€ì—­ ë¹„ìœ¨
gid
ë‹¤ì‚¬49aa19ab   100.00000
ë‹¤ì‚¬49aa19ba   100.00000
ë‹¤ì‚¬49aa20aa   100.00000
ë‹¤ì‚¬49ab18ab   100.00000
ë‹¤ì‚¬49ab18ba   100.00000
                ...
ë‹¤ì‚¬63ba21aa   100.00000
ë‹¤ì‚¬63ba21ab   100.00000
ë‹¤ì‚¬63ba21ba   100.00000
ë‹¤ì‚¬63ba21bb   100.00000
ë‹¤ì‚¬63ba22aa   100.00000
Length: 2090, dtype: float64

In [78]:
grid_police_area_ = suwon_grid.copy()
grid_police_area_ = pd.merge(grid_police_area_, pd.DataFrame(round(dif_area.area / origin_ * 100)).reset_index())
grid_police_area_ = grid_police_area_.rename(columns = {0 : 'remain_area_ratio'})
grid_police_area_['remain_area_ratio'].sort_values(ascending=False)

2089   100.00000
892    100.00000
983    100.00000
982    100.00000
981    100.00000
          ...
2062         nan
2063         nan
2064         nan
2065         nan
2074         nan
Name: remain_area_ratio, Length: 2090, dtype: float64

In [79]:
grid_police_area_.fillna(0, inplace=True)
grid_police_area_['remain_area_ratio'].describe()

count   2090.00000
mean      29.23493
std       44.05911
min        0.00000
25%        0.00000
50%        0.00000
75%      100.00000
max      100.00000
Name: remain_area_ratio, dtype: float64

In [80]:
grid_police_con.head(1)

,pname,psname,name,lon,lat,addr,gid,total_area,geometry
0,ê²½ê¸°ë‚¨ë¶€ì²­,ìˆ˜ì›ë‚¨ë¶€ê²½ì°°ì„œ,ê³¡ì„ ì§€êµ¬ëŒ€,127.03004,37.25180,ê¶Œì„ êµ¬ ê¶Œì„ ë™ 1268-5,ë‹¤ì‚¬58ab17aa,0.06255,POINT (127.03004 37.25180)

In [81]:
psname_cnt = grid_police_con.drop_duplicates(subset='psname').groupby('gid').count().reset_index()[['gid','name']].rename(columns={'name' : 'police_cnt'})
name_cnt = grid_police_con.groupby('gid').count().reset_index()[['gid','name']].rename(columns={'name' : 'security_cnt'})
police_con_df = pd.merge(psname_cnt, name_cnt, on='gid')

In [82]:
# ê´€í• ì„œ, ì¹˜ì•ˆì•ˆì „ì„¼í„°, ì˜ì—­ë°–ì˜ ë©´ì  ë¹„ìœ¨
police_con_df =  pd.merge(police_con_df, pd.DataFrame(round(dif_area.area / origin_ * 100)).reset_index().rename(columns={ 0 : 'remain_area_ratio'}) , how='outer')
police_con_df.fillna(0, inplace=True)
police_con_df.head(3)

          gid  police_cnt  security_cnt  remain_area_ratio
0  ë‹¤ì‚¬55bb19ab     1.00000       1.00000            0.00000
1  ë‹¤ì‚¬58ab17aa     1.00000       1.00000            0.00000
2  ë‹¤ì‚¬58ab20ab     1.00000       1.00000            0.00000

## 7. ì†Œë“ìˆ˜ì¤€, ì§€ê°€

In [83]:
tax_grid_ = pd.read_csv('./data/ì§€ë°©ì„¸ë¶€ë‹´ì•¡_ê³µì‹œì§€ê°€.csv')
del tax_grid_['Unnamed: 0']
tax_grid_ = tax_grid_[tax_grid_['SGG_NM'].isin(['ìˆ˜ì›ì‹œê¶Œì„ êµ¬', 'ìˆ˜ì›ì‹œì˜í†µêµ¬', 'ìˆ˜ì›ì‹œì¥ì•ˆêµ¬', 'ìˆ˜ì›ì‹œíŒ”ë‹¬êµ¬'])]
tax_grid_

    SGG_NM  ì£¼ë¯¼1ì¸ë‹¹ ë¶€ë‹´ê¸ˆì•¡         PNILP
28  ìˆ˜ì›ì‹œê¶Œì„ êµ¬      862490  647850.17065
29  ìˆ˜ì›ì‹œì˜í†µêµ¬     2545850 1296400.00000
30  ìˆ˜ì›ì‹œì¥ì•ˆêµ¬      627870  695564.78873
31  ìˆ˜ì›ì‹œíŒ”ë‹¬êµ¬     2054130 1200172.18935

In [84]:
suwon_ = pd.merge(tax_grid_, suwon_area[['SGG_NM','geometry']])
suwon_ = gpd.GeoDataFrame(suwon_, crs='epsg:4326')
tax_pnilp_grid = gpd.overlay(suwon_, suwon_grid, how='intersection')
tax_pnilp_grid = tax_pnilp_grid[['gid','ì£¼ë¯¼1ì¸ë‹¹ ë¶€ë‹´ê¸ˆì•¡', 'PNILP']]
tax_pnilp_grid.head()

          gid  ì£¼ë¯¼1ì¸ë‹¹ ë¶€ë‹´ê¸ˆì•¡        PNILP
0  ë‹¤ì‚¬49aa19ab      862490 647850.17065
1  ë‹¤ì‚¬49aa19ba      862490 647850.17065
2  ë‹¤ì‚¬49aa20aa      862490 647850.17065
3  ë‹¤ì‚¬49ab18ab      862490 647850.17065
4  ë‹¤ì‚¬49ab18ba      862490 647850.17065

## 8. ì¢…í•©

In [85]:
grid_temp = pd.merge(report_pop, area_con_grid, on='gid')
grid_temp = grid_temp.to_crs({'init' : 'epsg:4326'})
grid_temp.columns

Index(['gid', 'm_20g_pop', 'w_20g_pop', 'm_30g_pop', 'w_30g_pop', 'm_40g_pop',
       'w_40g_pop', 'm_50g_pop', 'w_50g_pop', 'm_60g_pop', 'w_60g_pop',
       'm_70g_pop', 'w_70g_pop', 'm_80g_pop', 'w_80g_pop', 'm_90g_pop',
       'w_90g_pop', 'm_100_pop', 'w_100g_pop', 'geometry', 'total_pop',
       'old_pop', 'total_cnt', 'ê¸°íƒ€_case_cnt', 'êµí†µ_case_cnt', 'ì„œë¹„ìŠ¤_case_cnt',
       'ì‹œë¹„/í­ë ¥_case_cnt', 'ì ˆë„/ê²½ë²”_case_cnt', 'êµí†µì‹ ê³ ë¹„ìœ¨', 'ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨', 'ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨',
       'total_area', 'ë…¹ì§€ì§€ì—­_use_ratio', 'ì£¼ê±°ì§€ì—­_use_ratio', 'ìƒì—…ì§€ì—­_use_ratio',
       'ê³µì—…ì§€ì—­_use_ratio'],
      dtype='object')

In [86]:
grid_merge_ = gpd.overlay(grid_temp, suwon_area, how='intersection')

- ê²©ìë³„ ê°ì¢… ì¸êµ¬ íŠ¹ì„± ë¹„ìœ¨ ë§ì¶”ê¸°

In [87]:
# ì‹œêµ°êµ¬ë³„ ê²©ì 1ë‹¹ ì¸êµ¬ìˆ˜ ë¹„ìœ¨
sgg_total = grid_merge_.groupby('sgg_nm').sum()[['total_cnt', 'total_pop']].reset_index()
sgg_total.columns = ['sgg_nm' , 'sgg_total_cnt', 'sgg_total_pop']
sgg_grid_merge = pd.merge(grid_merge_[['sgg_nm','gid', 'total_pop','total_cnt']], sgg_total)

### êµ¬ ë‹¨ìœ„ë¡œë§Œ ì¡´ì¬í•˜ëŠ” ë°ì´í„°ë“¤ì€, ì´ì¸êµ¬ì˜ ë¹„ìœ¨ì— ë”°ë¼ì„œ ë‹¤ì‹œ ê³„ì‚°í•œë‹¤.

In [88]:
# grid_sgg_ratio : ì´ì¸êµ¬ ë¹„ìœ¨(êµ¬ ì „ì²´ ëŒ€ë¹„ ê²©ì1ì˜ ì´ì¸êµ¬ ë¹„ì¤‘)
sgg_grid_merge['grid_sgg_ratio'] =  sgg_grid_merge['total_pop'] / sgg_grid_merge['sgg_total_pop']
sgg_grid_merge.head()

,sgg_nm,gid,total_pop,total_cnt,sgg_total_cnt,sgg_total_pop,grid_sgg_ratio
0,ê¶Œì„ êµ¬,ë‹¤ì‚¬49aa19ab,0.00000,0.00000,76415.00000,326743.00000,0.00000
1,ê¶Œì„ êµ¬,ë‹¤ì‚¬49aa19ba,0.00000,0.00000,76415.00000,326743.00000,0.00000
2,ê¶Œì„ êµ¬,ë‹¤ì‚¬49aa20aa,0.00000,0.00000,76415.00000,326743.00000,0.00000
3,ê¶Œì„ êµ¬,ë‹¤ì‚¬49ab18ab,0.00000,0.00000,76415.00000,326743.00000,0.00000
4,ê¶Œì„ êµ¬,ë‹¤ì‚¬49ab18ba,0.00000,0.00000,76415.00000,326743.00000,0.00000

In [89]:
sgg_grid_merge['grid_sgg_ratio'].sort_values(ascending=False)

1196   0.01979
1692   0.01535
1693   0.01516
1171   0.01419
1454   0.01253
         ...
1202   0.00000
1203   0.00000
1204   0.00000
1205   0.00000
0      0.00000
Name: grid_sgg_ratio, Length: 2247, dtype: float64

In [90]:
pop_total = pd.read_csv('./data/4ê°œì‹œêµ°êµ¬_ì¸êµ¬ë°ì£¼íƒí˜„í™©.csv')
del pop_total['Unnamed: 0']
pop_total.columns

Index(['sgg_nm', 'ì´ì¸êµ¬ (ëª…)', 'ë‚¨ì (ëª…)', 'ì—¬ì (ëª…)', 'ë‚´êµ­ì¸-ê³„ (ëª…)', 'ë‚´êµ­ì¸-ë‚¨ì (ëª…)',
       'ë‚´êµ­ì¸-ì—¬ì (ëª…)', 'ì™¸êµ­ì¸-ê³„ (ëª…)', 'ì™¸êµ­ì¸-ë‚¨ì (ëª…)', 'ì™¸êµ­ì¸-ì—¬ì (ëª…)', 'ê°€êµ¬-ê³„ (ê°€êµ¬)',
       'ì¼ë°˜ê°€êµ¬ (ê°€êµ¬)', 'ì§‘ë‹¨ê°€êµ¬ (ê°€êµ¬)', 'ì™¸êµ­ì¸ê°€êµ¬ (ê°€êµ¬)', 'ì£¼íƒ-ê³„ (í˜¸)', 'ë‹¨ë…ì£¼íƒ (í˜¸)',
       'ì•„íŒŒíŠ¸ (í˜¸)', 'ì—°ë¦½ì£¼íƒ (í˜¸)', 'ë‹¤ì„¸ëŒ€ì£¼íƒ (í˜¸)', 'ë¹„ê±°ì£¼ìš© ê±´ë¬¼ë‚´ ì£¼íƒ (í˜¸)', 'ì£¼íƒì´ì™¸ì˜ ê±°ì²˜ (í˜¸)',
       'ì„¸ëŒ€ë‹¹ ì¸êµ¬ìˆ˜', 'ì„±ë¹„', 'ì™¸êµ­ì¸ ë¹„ìœ¨', 'sido', 'poor_num', 'single_20ëŒ€',
       'single_65ì„¸ ì´ìƒ', 'single_í•©ê³„'],
      dtype='object')

In [91]:
# ì¢…í•©íŠ¹ì„±ë„ì¶œ
pop_merge_grid = pd.merge(pop_total, sgg_grid_merge)
pop_merge_grid['ë‚´êµ­ì¸-ê³„ (ëª…)'] = pop_merge_grid['ë‚´êµ­ì¸-ê³„ (ëª…)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ì™¸êµ­ì¸-ê³„ (ëª…)'] = pop_merge_grid['ì™¸êµ­ì¸-ê³„ (ëª…)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ë‚´êµ­ì¸-ì—¬ì (ëª…)'] = pop_merge_grid['ë‚´êµ­ì¸-ì—¬ì (ëª…)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ë‚´êµ­ì¸-ë‚¨ì (ëª…)'] = pop_merge_grid['ë‚´êµ­ì¸-ë‚¨ì (ëª…)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ì™¸êµ­ì¸-ë‚¨ì (ëª…)'] = pop_merge_grid['ì™¸êµ­ì¸-ë‚¨ì (ëª…)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ì™¸êµ­ì¸-ì—¬ì (ëª…)'] = pop_merge_grid['ì™¸êµ­ì¸-ì—¬ì (ëª…)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ê°€êµ¬-ê³„ (ê°€êµ¬)'] = pop_merge_grid['ê°€êµ¬-ê³„ (ê°€êµ¬)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ì¼ë°˜ê°€êµ¬ (ê°€êµ¬)'] = pop_merge_grid['ì¼ë°˜ê°€êµ¬ (ê°€êµ¬)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ì§‘ë‹¨ê°€êµ¬ (ê°€êµ¬)'] = pop_merge_grid['ì§‘ë‹¨ê°€êµ¬ (ê°€êµ¬)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ì™¸êµ­ì¸ê°€êµ¬ (ê°€êµ¬)'] = pop_merge_grid['ì™¸êµ­ì¸ê°€êµ¬ (ê°€êµ¬)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ì£¼íƒ-ê³„ (í˜¸)'] = pop_merge_grid['ì£¼íƒ-ê³„ (í˜¸)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ì•„íŒŒíŠ¸ (í˜¸)'] = pop_merge_grid['ì•„íŒŒíŠ¸ (í˜¸)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ì—°ë¦½ì£¼íƒ (í˜¸)'] = pop_merge_grid['ì—°ë¦½ì£¼íƒ (í˜¸)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ë‹¤ì„¸ëŒ€ì£¼íƒ (í˜¸)'] = pop_merge_grid['ë‹¤ì„¸ëŒ€ì£¼íƒ (í˜¸)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ë¹„ê±°ì£¼ìš© ê±´ë¬¼ë‚´ ì£¼íƒ (í˜¸)'] = pop_merge_grid['ë¹„ê±°ì£¼ìš© ê±´ë¬¼ë‚´ ì£¼íƒ (í˜¸)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['ì£¼íƒì´ì™¸ì˜ ê±°ì²˜ (í˜¸)'] = pop_merge_grid['ì£¼íƒì´ì™¸ì˜ ê±°ì²˜ (í˜¸)'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['poor_num'] = pop_merge_grid['poor_num'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['single_65ì„¸ ì´ìƒ'] = pop_merge_grid['single_65ì„¸ ì´ìƒ'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['single_20ëŒ€'] = pop_merge_grid['single_20ëŒ€'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid['single_í•©ê³„'] = pop_merge_grid['single_í•©ê³„'] * pop_merge_grid['grid_sgg_ratio']
pop_merge_grid.head(3)

,sgg_nm,ì´ì¸êµ¬ (ëª…),ë‚¨ì (ëª…),ì—¬ì (ëª…),ë‚´êµ­ì¸-ê³„ (ëª…),ë‚´êµ­ì¸-ë‚¨ì (ëª…),ë‚´êµ­ì¸-ì—¬ì (ëª…),ì™¸êµ­ì¸-ê³„ (ëª…),ì™¸êµ­ì¸-ë‚¨ì (ëª…),ì™¸êµ­ì¸-ì—¬ì (ëª…),...,poor_num,single_20ëŒ€,single_65ì„¸ ì´ìƒ,single_í•©ê³„,gid,total_pop,total_cnt,sgg_total_cnt,sgg_total_pop,grid_sgg_ratio
0,ì¥ì•ˆêµ¬,278507,140771,137736,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,ë‹¤ì‚¬52ab22ab,0.00000,12.00000,50671.00000,248732.00000,0.00000
1,ì¥ì•ˆêµ¬,278507,140771,137736,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,ë‹¤ì‚¬52ab22ba,0.00000,21.00000,50671.00000,248732.00000,0.00000
2,ì¥ì•ˆêµ¬,278507,140771,137736,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,ë‹¤ì‚¬52ba21bb,0.00000,12.00000,50671.00000,248732.00000,0.00000

In [92]:
pop_merge_grid.drop_duplicates(subset='gid', inplace=True)
pop_merge_grid = pop_merge_grid[['gid','sgg_nm', 'ë‚´êµ­ì¸-ê³„ (ëª…)', 'ë‚´êµ­ì¸-ë‚¨ì (ëª…)',
       'ë‚´êµ­ì¸-ì—¬ì (ëª…)', 'ì™¸êµ­ì¸-ê³„ (ëª…)', 'ì™¸êµ­ì¸-ë‚¨ì (ëª…)', 'ì™¸êµ­ì¸-ì—¬ì (ëª…)', 'ê°€êµ¬-ê³„ (ê°€êµ¬)',
       'ì¼ë°˜ê°€êµ¬ (ê°€êµ¬)', 'ì§‘ë‹¨ê°€êµ¬ (ê°€êµ¬)', 'ì™¸êµ­ì¸ê°€êµ¬ (ê°€êµ¬)', 'ì£¼íƒ-ê³„ (í˜¸)', 'ë‹¨ë…ì£¼íƒ (í˜¸)',
       'ì•„íŒŒíŠ¸ (í˜¸)', 'ì—°ë¦½ì£¼íƒ (í˜¸)', 'ë‹¤ì„¸ëŒ€ì£¼íƒ (í˜¸)', 'ë¹„ê±°ì£¼ìš© ê±´ë¬¼ë‚´ ì£¼íƒ (í˜¸)', 'ì£¼íƒì´ì™¸ì˜ ê±°ì²˜ (í˜¸)',
       'sido', 'poor_num', 'single_20ëŒ€',
       'single_65ì„¸ ì´ìƒ', 'single_í•©ê³„',  'total_pop', 'total_cnt',
       'sgg_total_cnt', 'sgg_total_pop', 'grid_sgg_ratio']]
pop_merge_grid.head(3) # ì¸êµ¬ ìµœì¢…

,gid,sgg_nm,ë‚´êµ­ì¸-ê³„ (ëª…),ë‚´êµ­ì¸-ë‚¨ì (ëª…),ë‚´êµ­ì¸-ì—¬ì (ëª…),ì™¸êµ­ì¸-ê³„ (ëª…),ì™¸êµ­ì¸-ë‚¨ì (ëª…),ì™¸êµ­ì¸-ì—¬ì (ëª…),ê°€êµ¬-ê³„ (ê°€êµ¬),ì¼ë°˜ê°€êµ¬ (ê°€êµ¬),...,sido,poor_num,single_20ëŒ€,single_65ì„¸ ì´ìƒ,single_í•©ê³„,total_pop,total_cnt,sgg_total_cnt,sgg_total_pop,grid_sgg_ratio
0,ë‹¤ì‚¬52ab22ab,ì¥ì•ˆêµ¬,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,ê²½ê¸°ë„,0.00000,0.00000,0.00000,0.00000,0.00000,12.00000,50671.00000,248732.00000,0.00000
1,ë‹¤ì‚¬52ab22ba,ì¥ì•ˆêµ¬,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,ê²½ê¸°ë„,0.00000,0.00000,0.00000,0.00000,0.00000,21.00000,50671.00000,248732.00000,0.00000
2,ë‹¤ì‚¬52ba21bb,ì¥ì•ˆêµ¬,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,ê²½ê¸°ë„,0.00000,0.00000,0.00000,0.00000,0.00000,12.00000,50671.00000,248732.00000,0.00000

In [93]:
grid_pop_report_total = pd.merge(grid_temp[['gid', 'total_cnt', 'ê¸°íƒ€_case_cnt', 'êµí†µ_case_cnt', 'ì„œë¹„ìŠ¤_case_cnt',
       'ì‹œë¹„/í­ë ¥_case_cnt', 'ì ˆë„/ê²½ë²”_case_cnt', 'êµí†µì‹ ê³ ë¹„ìœ¨', 'ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨', 'ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨',
       'total_area', 'ë…¹ì§€ì§€ì—­_use_ratio', 'ì£¼ê±°ì§€ì—­_use_ratio', 'ìƒì—…ì§€ì—­_use_ratio',
       'ê³µì—…ì§€ì—­_use_ratio'
                   ]], pop_merge_grid)
grid_pop_report_total.head(3)

,gid,total_cnt,ê¸°íƒ€_case_cnt,êµí†µ_case_cnt,ì„œë¹„ìŠ¤_case_cnt,ì‹œë¹„/í­ë ¥_case_cnt,ì ˆë„/ê²½ë²”_case_cnt,êµí†µì‹ ê³ ë¹„ìœ¨,ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨,ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨,...,ì£¼íƒì´ì™¸ì˜ ê±°ì²˜ (í˜¸),sido,poor_num,single_20ëŒ€,single_65ì„¸ ì´ìƒ,single_í•©ê³„,total_pop,sgg_total_cnt,sgg_total_pop,grid_sgg_ratio
0,ë‹¤ì‚¬49aa19ab,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,ê²½ê¸°ë„,0.00000,0.00000,0.00000,0.00000,0.00000,76415.00000,326743.00000,0.00000
1,ë‹¤ì‚¬49aa19ba,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,ê²½ê¸°ë„,0.00000,0.00000,0.00000,0.00000,0.00000,76415.00000,326743.00000,0.00000
2,ë‹¤ì‚¬49aa20aa,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,ê²½ê¸°ë„,0.00000,0.00000,0.00000,0.00000,0.00000,76415.00000,326743.00000,0.00000

In [94]:
report_pop.columns

Index(['gid', 'm_20g_pop', 'w_20g_pop', 'm_30g_pop', 'w_30g_pop', 'm_40g_pop',
       'w_40g_pop', 'm_50g_pop', 'w_50g_pop', 'm_60g_pop', 'w_60g_pop',
       'm_70g_pop', 'w_70g_pop', 'm_80g_pop', 'w_80g_pop', 'm_90g_pop',
       'w_90g_pop', 'm_100_pop', 'w_100g_pop', 'geometry', 'total_pop',
       'old_pop', 'total_cnt', 'ê¸°íƒ€_case_cnt', 'êµí†µ_case_cnt', 'ì„œë¹„ìŠ¤_case_cnt',
       'ì‹œë¹„/í­ë ¥_case_cnt', 'ì ˆë„/ê²½ë²”_case_cnt', 'êµí†µì‹ ê³ ë¹„ìœ¨', 'ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨', 'ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨'],
      dtype='object')

#### ì´ì¸êµ¬, ì´ ì—¬ì„±/ë‚¨ì„± ìˆ˜ëŠ” ê²©ìë°ì´í„° ìƒì˜ ìˆ˜ì¹˜ë¥¼ ì°¸ì¡°í•œë‹¤

In [95]:
# ì´ì¸êµ¬, ì´ ì—¬ì„±, ì´ ë‚¨ì„±
report_pop['w_total'] = report_pop['w_20g_pop'] +  report_pop['w_30g_pop'] +  report_pop['w_40g_pop'] +  report_pop['w_50g_pop'] +\
           report_pop['w_60g_pop'] +  report_pop['w_70g_pop'] +  report_pop['w_80g_pop'] +  report_pop['w_90g_pop'] +  report_pop['w_100g_pop']

report_pop['m_total'] = report_pop['m_20g_pop'] +  report_pop['m_30g_pop'] +  report_pop['m_40g_pop'] +  report_pop['m_50g_pop'] +\
           report_pop['m_60g_pop'] +  report_pop['m_70g_pop'] +  report_pop['m_80g_pop'] +  report_pop['m_90g_pop'] +  report_pop['m_100_pop']
report_pop = report_pop.rename(columns = {'total_pop' : 'ì´ì¸êµ¬ (ëª…)', 'm_total' : 'ë‚¨ì (ëª…)', 'w_total' : 'ì—¬ì (ëª…)'})
pop_total_gid = report_pop[['gid','ì´ì¸êµ¬ (ëª…)', 'ë‚¨ì (ëª…)',  'ì—¬ì (ëª…)']]

In [96]:
grid_pop_report_total.columns

Index(['gid', 'total_cnt', 'ê¸°íƒ€_case_cnt', 'êµí†µ_case_cnt', 'ì„œë¹„ìŠ¤_case_cnt',
       'ì‹œë¹„/í­ë ¥_case_cnt', 'ì ˆë„/ê²½ë²”_case_cnt', 'êµí†µì‹ ê³ ë¹„ìœ¨', 'ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨', 'ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨',
       'total_area', 'ë…¹ì§€ì§€ì—­_use_ratio', 'ì£¼ê±°ì§€ì—­_use_ratio', 'ìƒì—…ì§€ì—­_use_ratio',
       'ê³µì—…ì§€ì—­_use_ratio', 'sgg_nm', 'ë‚´êµ­ì¸-ê³„ (ëª…)', 'ë‚´êµ­ì¸-ë‚¨ì (ëª…)', 'ë‚´êµ­ì¸-ì—¬ì (ëª…)',
       'ì™¸êµ­ì¸-ê³„ (ëª…)', 'ì™¸êµ­ì¸-ë‚¨ì (ëª…)', 'ì™¸êµ­ì¸-ì—¬ì (ëª…)', 'ê°€êµ¬-ê³„ (ê°€êµ¬)', 'ì¼ë°˜ê°€êµ¬ (ê°€êµ¬)',
       'ì§‘ë‹¨ê°€êµ¬ (ê°€êµ¬)', 'ì™¸êµ­ì¸ê°€êµ¬ (ê°€êµ¬)', 'ì£¼íƒ-ê³„ (í˜¸)', 'ë‹¨ë…ì£¼íƒ (í˜¸)', 'ì•„íŒŒíŠ¸ (í˜¸)',
       'ì—°ë¦½ì£¼íƒ (í˜¸)', 'ë‹¤ì„¸ëŒ€ì£¼íƒ (í˜¸)', 'ë¹„ê±°ì£¼ìš© ê±´ë¬¼ë‚´ ì£¼íƒ (í˜¸)', 'ì£¼íƒì´ì™¸ì˜ ê±°ì²˜ (í˜¸)', 'sido',
       'poor_num', 'single_20ëŒ€', 'single_65ì„¸ ì´ìƒ', 'single_í•©ê³„', 'total_pop',
       'sgg_total_cnt', 'sgg_total_pop', 'grid_sgg_ratio'],
      dtype='object')

In [97]:
# grid_pop_report_total.drop(['ì´ì¸êµ¬ (ëª…)', 'ë‚¨ì (ëª…)', 'ì—¬ì (ëª…)'], axis=1, inplace=True)

In [98]:
grid_ = pd.merge(grid_pop_report_total, pop_total_gid)
grid_.head(3)

,gid,total_cnt,ê¸°íƒ€_case_cnt,êµí†µ_case_cnt,ì„œë¹„ìŠ¤_case_cnt,ì‹œë¹„/í­ë ¥_case_cnt,ì ˆë„/ê²½ë²”_case_cnt,êµí†µì‹ ê³ ë¹„ìœ¨,ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨,ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨,...,single_20ëŒ€,single_65ì„¸ ì´ìƒ,single_í•©ê³„,total_pop,sgg_total_cnt,sgg_total_pop,grid_sgg_ratio,ì´ì¸êµ¬ (ëª…),ë‚¨ì (ëª…),ì—¬ì (ëª…)
0,ë‹¤ì‚¬49aa19ab,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,76415.00000,326743.00000,0.00000,0.00000,0.00000,0.00000
1,ë‹¤ì‚¬49aa19ba,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,76415.00000,326743.00000,0.00000,0.00000,0.00000,0.00000
2,ë‹¤ì‚¬49aa20aa,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,76415.00000,326743.00000,0.00000,0.00000,0.00000,0.00000

In [99]:
grid_['gid'].nunique()

2086

In [100]:
grid_.columns

Index(['gid', 'total_cnt', 'ê¸°íƒ€_case_cnt', 'êµí†µ_case_cnt', 'ì„œë¹„ìŠ¤_case_cnt',
       'ì‹œë¹„/í­ë ¥_case_cnt', 'ì ˆë„/ê²½ë²”_case_cnt', 'êµí†µì‹ ê³ ë¹„ìœ¨', 'ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨', 'ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨',
       'total_area', 'ë…¹ì§€ì§€ì—­_use_ratio', 'ì£¼ê±°ì§€ì—­_use_ratio', 'ìƒì—…ì§€ì—­_use_ratio',
       'ê³µì—…ì§€ì—­_use_ratio', 'sgg_nm', 'ë‚´êµ­ì¸-ê³„ (ëª…)', 'ë‚´êµ­ì¸-ë‚¨ì (ëª…)', 'ë‚´êµ­ì¸-ì—¬ì (ëª…)',
       'ì™¸êµ­ì¸-ê³„ (ëª…)', 'ì™¸êµ­ì¸-ë‚¨ì (ëª…)', 'ì™¸êµ­ì¸-ì—¬ì (ëª…)', 'ê°€êµ¬-ê³„ (ê°€êµ¬)', 'ì¼ë°˜ê°€êµ¬ (ê°€êµ¬)',
       'ì§‘ë‹¨ê°€êµ¬ (ê°€êµ¬)', 'ì™¸êµ­ì¸ê°€êµ¬ (ê°€êµ¬)', 'ì£¼íƒ-ê³„ (í˜¸)', 'ë‹¨ë…ì£¼íƒ (í˜¸)', 'ì•„íŒŒíŠ¸ (í˜¸)',
       'ì—°ë¦½ì£¼íƒ (í˜¸)', 'ë‹¤ì„¸ëŒ€ì£¼íƒ (í˜¸)', 'ë¹„ê±°ì£¼ìš© ê±´ë¬¼ë‚´ ì£¼íƒ (í˜¸)', 'ì£¼íƒì´ì™¸ì˜ ê±°ì²˜ (í˜¸)', 'sido',
       'poor_num', 'single_20ëŒ€', 'single_65ì„¸ ì´ìƒ', 'single_í•©ê³„', 'total_pop',
       'sgg_total_cnt', 'sgg_total_pop', 'grid_sgg_ratio', 'ì´ì¸êµ¬ (ëª…)', 'ë‚¨ì (ëª…)',
       'ì—¬ì (ëª…)'],
      dtype='object')

In [101]:
# feature ì¶”ê°€í•´ì£¼ê¸°(ì™¸êµ­ì¸ë¹„ìœ¨,ì„±ë¹„)
grid_['ì™¸êµ­ì¸ ë¹„ìœ¨']=  grid_['ì™¸êµ­ì¸-ê³„ (ëª…)'] / grid_['ì´ì¸êµ¬ (ëª…)'] * 100
# ì„±ë¹„ : ë‚¨ / ì—¬ * 100
grid_['ì„±ë¹„']=  grid_['ë‚¨ì (ëª…)'] / grid_['ì—¬ì (ëª…)'] * 100

In [102]:
grid_ = grid_.rename(columns = {'total_cnt' : 'case_type'})

temp_ = pd.merge(plan_use_grid, suwon_grid, how='outer')
temp_2 = pd.merge(temp_, house_total, how='outer')
grid_2 = pd.merge(temp_2, facility_grid_)
grid_2.fillna(0, inplace=True)
grid_2.drop_duplicates('gid', inplace=True)
grid_2.head()

,gid,plan_total_area,ë„ë¡œìš©ì§€_plan_use_ratio,í•™êµìš©ì§€_plan_use_ratio,ê³µì›ìš©ì§€_plan_use_ratio,ë…¹ì§€_plan_use_ratio,ì£¼ê±°ìš©ì§€_plan_use_ratio,ê³µê³µìš©ì§€_plan_use_ratio,ì—…ë¬´ìš©ì§€_plan_use_ratio,ì‹œì„¤ìš©ì§€_plan_use_ratio,...,cctv_cnt,play_cnt,park_cnt,conv_cnt,pub_cnt,cctvë°€ë„,ë³´ì•ˆë“±ë°€ë„,ìœ í¥ì—…ì†Œë°€ë„,í¸ì˜ì ë°€ë„,ê³µì›ë°ë†€ì´ì‹œì„¤ë°€ë„
0,ë‹¤ì‚¬49bb19ba,0.00122,79.89091,20.10909,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,5.00000,2.00000,0.00000,0.00000,0.00000,79.94096,0.00000,0.00000,0.00000,31.97639
1,ë‹¤ì‚¬49bb19bb,0.02485,20.41719,58.52691,13.96984,0.00000,0.00000,0.00000,0.00000,0.00000,...,5.00000,0.00000,0.00000,0.00000,0.00000,79.94096,0.00000,0.00000,0.00000,0.00000
2,ë‹¤ì‚¬50aa18bb,0.00202,100.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,ë‹¤ì‚¬50aa19aa,0.00752,67.41629,0.00000,18.79339,8.90836,4.88196,0.00000,0.00000,0.00000,...,5.00000,3.00000,0.00000,2.00000,0.00000,79.94091,0.00000,0.00000,31.97637,47.96455
4,ë‹¤ì‚¬50aa19ab,0.02149,29.78879,0.00000,0.00000,11.76005,58.45116,0.00000,0.00000,0.00000,...,0.00000,2.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,31.97637

In [103]:
temp_ = pd.merge(fire_sui_grid_, police_con_df, how='outer')
grid_3 = pd.merge(temp_, tax_pnilp_grid, how='outer')
grid_3.fillna(0, inplace=True)
grid_3.drop_duplicates('gid', inplace=True)
grid_3.head(3)

,gid,acc_num,tot_vic_num,total_dmg,ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨,police_cnt,security_cnt,remain_area_ratio,ì£¼ë¯¼1ì¸ë‹¹ ë¶€ë‹´ê¸ˆì•¡,PNILP
0,ë‹¤ì‚¬49aa19ab,0.00000,0.00000,0.00000,25.30000,0.00000,0.00000,100.00000,862490.00000,647850.17065
1,ë‹¤ì‚¬49aa19ba,0.00000,0.00000,0.00000,25.30000,0.00000,0.00000,100.00000,862490.00000,647850.17065
2,ë‹¤ì‚¬49aa20aa,0.00000,0.00000,0.00000,25.30000,0.00000,0.00000,100.00000,862490.00000,647850.17065

In [104]:
grid_temp_ = pd.merge(grid_, grid_2, how='outer')
grid_temp_.drop(['total_pop', 'sgg_total_cnt', 'sgg_total_pop', 'geometry'], axis=1, inplace=True)
grid_total = pd.merge(grid_temp_, grid_3, how='outer')
grid_total.head(3)

,gid,case_type,ê¸°íƒ€_case_cnt,êµí†µ_case_cnt,ì„œë¹„ìŠ¤_case_cnt,ì‹œë¹„/í­ë ¥_case_cnt,ì ˆë„/ê²½ë²”_case_cnt,êµí†µì‹ ê³ ë¹„ìœ¨,ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨,ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨,...,ê³µì›ë°ë†€ì´ì‹œì„¤ë°€ë„,acc_num,tot_vic_num,total_dmg,ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨,police_cnt,security_cnt,remain_area_ratio,ì£¼ë¯¼1ì¸ë‹¹ ë¶€ë‹´ê¸ˆì•¡,PNILP
0,ë‹¤ì‚¬49aa19ab,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,25.30000,0.00000,0.00000,100.00000,862490.00000,647850.17065
1,ë‹¤ì‚¬49aa19ba,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,25.30000,0.00000,0.00000,100.00000,862490.00000,647850.17065
2,ë‹¤ì‚¬49aa20aa,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,25.30000,0.00000,0.00000,100.00000,862490.00000,647850.17065

In [105]:
grid_total.drop_duplicates(subset='gid', inplace=True)
grid_total.head(3)

,gid,case_type,ê¸°íƒ€_case_cnt,êµí†µ_case_cnt,ì„œë¹„ìŠ¤_case_cnt,ì‹œë¹„/í­ë ¥_case_cnt,ì ˆë„/ê²½ë²”_case_cnt,êµí†µì‹ ê³ ë¹„ìœ¨,ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨,ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨,...,ê³µì›ë°ë†€ì´ì‹œì„¤ë°€ë„,acc_num,tot_vic_num,total_dmg,ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨,police_cnt,security_cnt,remain_area_ratio,ì£¼ë¯¼1ì¸ë‹¹ ë¶€ë‹´ê¸ˆì•¡,PNILP
0,ë‹¤ì‚¬49aa19ab,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,25.30000,0.00000,0.00000,100.00000,862490.00000,647850.17065
1,ë‹¤ì‚¬49aa19ba,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,25.30000,0.00000,0.00000,100.00000,862490.00000,647850.17065
2,ë‹¤ì‚¬49aa20aa,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,25.30000,0.00000,0.00000,100.00000,862490.00000,647850.17065

In [106]:
grid_total.columns

Index(['gid', 'case_type', 'ê¸°íƒ€_case_cnt', 'êµí†µ_case_cnt', 'ì„œë¹„ìŠ¤_case_cnt',
       'ì‹œë¹„/í­ë ¥_case_cnt', 'ì ˆë„/ê²½ë²”_case_cnt', 'êµí†µì‹ ê³ ë¹„ìœ¨', 'ê¸°íƒ€ë°ì„œë¹„ìŠ¤ë¹„ìœ¨', 'ì ˆë„í­ë ¥ë°ê²½ë²”ë¹„ìœ¨',
       'total_area', 'ë…¹ì§€ì§€ì—­_use_ratio', 'ì£¼ê±°ì§€ì—­_use_ratio', 'ìƒì—…ì§€ì—­_use_ratio',
       'ê³µì—…ì§€ì—­_use_ratio', 'sgg_nm', 'ë‚´êµ­ì¸-ê³„ (ëª…)', 'ë‚´êµ­ì¸-ë‚¨ì (ëª…)', 'ë‚´êµ­ì¸-ì—¬ì (ëª…)',
       'ì™¸êµ­ì¸-ê³„ (ëª…)', 'ì™¸êµ­ì¸-ë‚¨ì (ëª…)', 'ì™¸êµ­ì¸-ì—¬ì (ëª…)', 'ê°€êµ¬-ê³„ (ê°€êµ¬)', 'ì¼ë°˜ê°€êµ¬ (ê°€êµ¬)',
       'ì§‘ë‹¨ê°€êµ¬ (ê°€êµ¬)', 'ì™¸êµ­ì¸ê°€êµ¬ (ê°€êµ¬)', 'ì£¼íƒ-ê³„ (í˜¸)', 'ë‹¨ë…ì£¼íƒ (í˜¸)', 'ì•„íŒŒíŠ¸ (í˜¸)',
       'ì—°ë¦½ì£¼íƒ (í˜¸)', 'ë‹¤ì„¸ëŒ€ì£¼íƒ (í˜¸)', 'ë¹„ê±°ì£¼ìš© ê±´ë¬¼ë‚´ ì£¼íƒ (í˜¸)', 'ì£¼íƒì´ì™¸ì˜ ê±°ì²˜ (í˜¸)', 'sido',
       'poor_num', 'single_20ëŒ€', 'single_65ì„¸ ì´ìƒ', 'single_í•©ê³„',
       'grid_sgg_ratio', 'ì´ì¸êµ¬ (ëª…)', 'ë‚¨ì (ëª…)', 'ì—¬ì (ëª…)', 'ì™¸êµ­ì¸ ë¹„ìœ¨', 'ì„±ë¹„',
       'plan_total_area', 'ë„ë¡œìš©ì§€_plan_use_ratio', 'í•™êµìš©ì§€_plan_use_ratio',
       'ê³µì›ìš©ì§€_plan_use_ratio', 'ë…¹ì§€_plan_use_ratio', 'ì£¼ê±°ìš©ì§€_plan_use_ratio',
       'ê³µê³µìš©ì§€_plan_use_ratio', 'ì—…ë¬´ìš©ì§€_plan_use_ratio', 'ì‹œì„¤ìš©ì§€_plan_use_ratio',
       'OLD_YEAR', 'area_old_level_3', 'area_old_level_4', 'area_old_level_1',
       'area_old_level_2', 'securitylight_cnt', 'bell_cnt', 'cctv_cnt',
       'play_cnt', 'park_cnt', 'conv_cnt', 'pub_cnt', 'cctvë°€ë„', 'ë³´ì•ˆë“±ë°€ë„',
       'ìœ í¥ì—…ì†Œë°€ë„', 'í¸ì˜ì ë°€ë„', 'ê³µì›ë°ë†€ì´ì‹œì„¤ë°€ë„', 'acc_num', 'tot_vic_num', 'total_dmg',
       'ì¸êµ¬10ë§Œëª…ë‹¹ìì‚´ìœ¨', 'police_cnt', 'security_cnt', 'remain_area_ratio',
       'ì£¼ë¯¼1ì¸ë‹¹ ë¶€ë‹´ê¸ˆì•¡', 'PNILP'],
      dtype='object')

#### ì¶”ê°€í•œ featureë“¤ì„ ë„£ì–´ì¤ë‹ˆë‹¤

In [107]:
# ì£¼íƒ(í˜¸) ë¹„ìœ¨
grid_total['house_ratio'] = round(grid_total['ì£¼íƒ-ê³„ (í˜¸)'] / grid_total['ê°€êµ¬-ê³„ (ê°€êµ¬)'] * 100, 2)
# 1ì¸ê°€êµ¬ ë¹„ìœ¨
grid_total['single_ratio'] = round(grid_total['single_í•©ê³„'] / grid_total['ì´ì¸êµ¬ (ëª…)'] * 100, 2)
# ê¸°ì´ˆìˆ˜ê¸‰ì ë¹„ìœ¨
grid_total['single_ratio'] = round(grid_total['poor_num'] / grid_total['ì´ì¸êµ¬ (ëª…)'] * 100, 2)

# ì¸êµ¬ëŒ€ë¹„ ì‹ ê³  ìˆ˜ ì „ì²´ í†µê³„
grid_total['report_ratio'] = round(grid_total['case_type'] / grid_total['ì´ì¸êµ¬ (ëª…)'], 2) * 100
# ì¸êµ¬ ëŒ€ë¹„ êµí†µ ê´€ë ¨ ì‹ ê³  ìˆ˜
grid_total['report_traffic_ratio'] = round(grid_total['êµí†µ_case_cnt'] / grid_total['ì´ì¸êµ¬ (ëª…)'], 2) * 100
# ì¸êµ¬ ëŒ€ë¹„ ì‹œë¹„ í­ë ¥ ê´€ë ¨ ì‹ ê³  ìˆ˜
grid_total['report_vio_ratio'] = round(grid_total['ì‹œë¹„/í­ë ¥_case_cnt'] / grid_total['ì´ì¸êµ¬ (ëª…)'], 2) * 100
# ì¸êµ¬ ëŒ€ë¹„ ì ˆë„ ê²½ë²” ê´€ë ¨ ì‹ ê³  ìˆ˜
grid_total['report_crime_ratio'] = round(grid_total['ì ˆë„/ê²½ë²”_case_cnt'] / grid_total['ì´ì¸êµ¬ (ëª…)'], 2) * 100

# íŒŒì¶œì†Œ 1ê°œë³„ ì ‘ìˆ˜ê±´ìˆ˜
grid_total['case_for_sec'] = grid_total['case_type']  / grid_total['security_cnt']

# ë©´ì ë‹¹ ì‹ ê³ ìˆ˜
grid_total['report_for_area']= grid_total['case_type'] / grid_total['total_area']

In [108]:
grid_total['ì„¸ëŒ€ë‹¹ ì¸êµ¬ìˆ˜'] = grid_total['ì´ì¸êµ¬ (ëª…)'] / grid_total['ê°€êµ¬-ê³„ (ê°€êµ¬)']
grid_total['ê¸°íƒ€_use_ratio']= 0
grid_total['ë†ê²½ì§€ì—­_use_ratio']=0
grid_total.fillna(0, inplace=True)

In [109]:
grid_total['ë…¹ì§€ì§€ì—­_use_ratio'].sort_values(ascending=False) # ë…¹ì§€ê°€ 100% ë©´ ì œì™¸
grid_total['ë…¹ì§€ì§€ì—­_use_ratio']

0      0.12064
1      0.01745
2      0.01209
3      0.04735
4      0.27205
         ...
2085   0.24245
2086   0.00000
2087   0.00000
2088   0.00000
2089   0.00000
Name: ë…¹ì§€ì§€ì—­_use_ratio, Length: 2090, dtype: float64

#### ë…¹ì§€ê°€5í• ì´ìƒ ì°¨ì§€í•˜ëŠ” ê²©ìì˜ ê²½ìš° ë¶„ì„ëŒ€ìƒì—ì„œ ì œì™¸í•˜ëŠ”ê²ƒì„ ê³ ë ¤(ì¸êµ¬,112ì‹ ê³  ë“±ì˜ ìˆ˜ì¹˜ê°€ ë¶€ì¡±í•˜ì—¬ ìœ ì˜ë¯¸í•œ ê²°ê³¼ ë„ì¶œì´ ì–´ë ¤ì›€)

In [110]:
grid_total[(grid_total['ë…¹ì§€ì§€ì—­_use_ratio'] < 1) & (grid_total['ë…¹ì§€ì§€ì—­_use_ratio'] >= 0.9)][['ë…¹ì§€ì§€ì—­_use_ratio', 'ì£¼ê±°ì§€ì—­_use_ratio']]

      ë…¹ì§€ì§€ì—­_use_ratio  ì£¼ê±°ì§€ì—­_use_ratio
7            0.92850         0.00000
10           0.96837         0.00000
16           0.99678         0.00000
21           0.91837         0.08163
24           1.00000         0.00000
...              ...             ...
2020         0.92697         0.07303
2050         0.98058         0.00000
2067         0.91244         0.08756
2075         0.94978         0.00000
2076         0.99974         0.00000

[249 rows x 2 columns]

In [111]:
grid_total.to_csv('./data/ìˆ˜ì›ê²©ìì¢…í•©.csv')

In [112]:
# kk_area = gpd.GeoDataFrame.from_file('data/LARD_ADM_SECT_SGG_41.shp', encoding='cp949')
# kk_area = kk_area.to_crs({'init':'epsg:4326'}) # ì¢Œí‘œê³„ epsg : 4326
# suwon_area = kk_area[kk_area['SGG_NM'].str.contains('ìˆ˜ì›')]
# suwon_area